<template>

  <v-app >
  <TheHeader  />
  <v-main>
    <router-view></router-view>
  </v-main>
</v-app>


</template>

<script>

import TheHeader from './TheHeader'
import TheFooter from './TheFooter'


export default {
  name: 'TheContainer',
  components: {
    // TheSidebar,
    TheHeader,
    TheFooter,
    // Vue,
    // InfiniteLoading,
  },

};

</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
