
<template>
    <nav>
       <v-app-bar
        app
        clipped-left
        color="amber"

      >
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <span class="title ml-3 mr-5">E-&nbsp;<span class="font-weight-light">PUNTEN</span></span>
        <v-text-field
          solo-inverted
          flat
          hide-details
          label="Search"
          prepend-inner-icon="search"
        ></v-text-field>

        <v-spacer></v-spacer>
       <v-menu>
      <template v-slot:activator="{ on: menu, attrs }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on: tooltip }">
            <v-btn icon left
              color="white"
              dark
              v-bind="attrs"
              v-on="{ ...tooltip, ...menu }"
            ><v-icon left>apps</v-icon></v-btn>
          </template>
          <span>Proflie</span>
        </v-tooltip>
      </template>

      <v-list>
        <v-list-item
          v-for="(item, index) in itemss"
          :key="index+`-list0`"
          @click="true"
          router :to = "item.route"
        >
          <v-list-item-action>
                <v-icon right>{{ item.icon }}</v-icon>
              </v-list-item-action>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>

        <v-list-item
          @click='logout()'
          >
                      <v-list-item-action>
                <v-icon right>exit_to_app</v-icon>
              </v-list-item-action>
          <v-list-item-title>keluar</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>

        <!-- <span class="font-weight-light font-italic">Keluar<v-icon right>exit_to_app</v-icon></span> -->
      </v-app-bar>

            <v-navigation-drawer
        v-model="drawer"
        app
        clipped
        color="grey lighten-4"
      >
        <v-list
          dense
          class="grey lighten-4"
        >
          <template v-for="(item, i) in items">
            <v-row
              v-if="item.heading"
              :key="i+`-list`"
              align="center"
            >
              <v-col cols="6">
                <v-subheader v-if="item.heading">
                  {{ item.heading }}
                </v-subheader>
              </v-col>
              <v-col
                cols="6"
                class="text-right"
              >
              </v-col>
            </v-row>
            <v-divider
              v-else-if="item.divider"
              :key="i+`-list2`"
              dark
              class="my-4"
            ></v-divider>
            <v-list-item
              v-else
              :key="i+`-list6`"
              link
              router :to = "item.route"
            >
              <v-list-item-action>
                <v-badge v-if ="item.icon == `notifications_active`"
                  color="red accent-4"
                  icon="mdi-vuetify"
                  >
                </v-badge>
                <v-icon>{{ item.icon }}
                </v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="grey--text">
                  {{ item.text }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>            
          </template>

      <v-list-group
        prepend-icon="airplanemode_active"
        :value="false"
      >
        <template v-slot:activator >
          <v-list-item-title>WNA</v-list-item-title>
        </template>

           <template v-for="(item, i) in wna" >
            <v-row
              v-if="item.heading"
              :key="i+`-list3`"
              align="center"
            >
              <v-col cols="6">
                <v-subheader v-if="item.heading">
                  {{ item.heading }}
                </v-subheader>
              </v-col>
              <v-col
                cols="6"
                class="text-right"
              >
              </v-col>
            </v-row>
            <v-divider
              v-else-if="item.divider"
              :key="i+`-list7`"
              dark
              class="my-4"
            ></v-divider>
            <v-list-item
              v-else
              :key="i"
              link
              router :to = "item.route"
            >
              <v-list-item-action>
                <v-icon>{{ item.icon }}
                </v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="grey--text">
                  {{ item.text }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>            
          </template>
          
      </v-list-group>


          <template v-for="(item, i) in item2">
            <v-row
              v-if="item.heading"
              :key="i+`-list4`"
              align="center"
            >
              <v-col cols="6">
                <v-subheader v-if="item.heading">
                  {{ item.heading }}
                </v-subheader>
              </v-col>
              <v-col
                cols="6"
                class="text-right"
              >
              </v-col>
            </v-row>
            <v-divider
              v-else-if="item.divider"
              :key="i+`-list8`"
              dark
              class="my-4"
            ></v-divider>
            <v-list-item
              v-else
              :key="i+`-list9`"
              link
              router :to = "item.route"
            >
              <v-list-item-action>
                <v-badge v-if ="item.icon == `notifications_active`"
                  color="red accent-4"
                  icon="mdi-vuetify"
                  >
                </v-badge>
                <v-icon>{{ item.icon }}
                </v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="grey--text">
                  {{ item.text }} 
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>            
          </template>
        </v-list>

      </v-navigation-drawer>
    </nav>
</template>
<script>
// @ is an alias to /src
import store from "@/store";
/*import store from "@/store";*/
/*import {
  mapGetters,
  mapMutations
} from 'vuex'*/
export default {
data(){
    return {
    form : {
  status: 'error',
  nama_lgkp: '',

    },
    drawer: false,
    status: 'error',
    nama_lgkp: undefined,
/*    loggedIn: false,
    authUser: undefined,*/
    items: [
      { icon: 'dashboard', text: 'Beranda', route: '/' },
      // { icon: 'touch_app', text: 'Reminders' },
      { divider: true },
      { heading: 'Pelananan' },
      { icon: 'transfer_within_a_station', text: 'SKTS', route: '/pelayanan/skts' },
      { icon: 'pin_drop', text: 'PINDAH DATANG', route: '/pelayanan/pindat' },
      { icon: 'post_add', text: 'AKTA KELAHIRAN', route: '/pelayanan/akta_lahir' },
    ],
      itemss: [
        { icon: 'person', title: 'Profile', route: '/' },
      ],
      item2: [
      { divider: true },
      { heading: 'Monitoring' },
      { icon: 'toc', text: 'Monitoring Pengajuan', route: '/monitoring/monitoring' },
      { icon: 'library_books', text: 'Dokumen', route: '/monitoring/dokumen' },
      { icon: 'speaker_notes', text: 'Chat', route: '/chat/chat' },
      { divider: true },
      { heading: 'Notifikasi' },
      { icon: 'notifications_active', text: 'Notifikasi', route: '/monitoring/notifikasi' },
      ],
      wna: [
        { icon: 'book', text: 'SKTT/SKSKP', route: '/pelayanan/wna' },
      ],


  }},
  mounted() {
      try {
    const jsonAuthUser = JSON.parse(localStorage.authUserEpunten);
    this.authUser = jsonAuthUser;
    this.permissionUser = JSON.stringify(localStorage.permissionEpunten);
  } catch (e) {
  } finally {
  }
  this.getNotif();

  },
  created(){
    // alert(this.message)
  },

  methods: {
    logout(){
      localStorage.removeItem("tokenEpunten");
      localStorage.removeItem("authUserEpunten");
      localStorage.removeItem("permissionEpunten");
      store.commit("logoutUser");
      this.$router.push({ path: "/pages/Login" });
      location.reload();
    },
    getNotif() {
    axios.post("/cek_notif",{nik:this.authUser.nik}).then(response => {
      this.status = response.data.status;
      
      if (response.data.status == "error"){
        this.notif = 0;
      /*  alert(this.notif)*/
      }else{
        this.notif = 1;
        /*alert(this.notif)*/
        this.data = response.data[0];
            }
      this.showLoader = false;
    }).catch(err => console.log(this.error)).finally(() => this.loading = false);
  },
  },

  };
</script>