<template>
<v-container>
  <v-card>

<div class="container">
<h3 class="google-font mb-0 text-right" style="font-style:italic;font-size:120%;color:#blue"><img src="https://ptetutorials.com/images/user-profile.png"  width = '35px' height = '35px'>{{this.tujuan}}</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>KONTAK</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
                <v-list-item  v-for="lists in list" v-bind:key="lists.name" v-model="selected" :class="{active_chat:lists.name == selected}" @click='selected = lists.name;coba();fetchMessages();'>
                    <v-list-item-content>
                        <v-list-item-title v-html="lists.name"></v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-icon>mdi-chat</v-icon>
                            <!-- <h5>{{lists.name}} <span class="chat_date">Dec 25</span></h5> -->
                        </v-list-item-action>
                        </v-list-item>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <div v-for="message in messages" class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div :class="[message.author==authUser.name?'sent_msg':'received_msg']">
                <div class="received_withd_msg">
                  <p >{{message.message}}</p>
                  <span class="time_date">{{message.author}}</span></div>
              </div>
            </div>




          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input @keyup.enter="saveMessage" v-model="message" type="text" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      
      
    </div></div>
  </v-card>
</v-container>
</template>
<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-firestore.js"></script>
<script>

export default {
    name: 'ChatChat',
    data(){
        return{
            message:null,
            selected: undefined,
            selectedValue:null,
            messages:[],
            list:[],
            name:"null",
            tujuan:"",
            chanel:"",
            chanel2:"",
            authUser:{}
        }
    },

    methods:{
        scrollToBottom(){
            let box=document.querySelector('.msg_history');
            box.scrollTop=box.scrollHeight;
        },
        saveMessage(){
            /*this.chanel = this.tujuan+this.nama;
            this.chanel2 = this.nama+this.tujuan;*/
            /*console.log(this.chanel);*/
            db.collection('chat').add({
                chanell: this.chanel,
                message:this.message,
                author:this.nama,
                to:this.tujuan,
                createdAt : new Date()
            }).then(()=>{
                this.scrollToBottom();
            }).catch(function(error) {});
                this.message =null;
                },

            fetchMessages(){
                this.chanel = this.tujuan+this.nama;
                this.chanel2 = this.nama+this.tujuan;
              
                db.collection('chat').where('chanell','in',[this.chanel, this.chanel2]).orderBy('createdAt').onSnapshot((querySnapshot)=>{
                let allMessages=[];
                querySnapshot.forEach((doc)=>{
                    allMessages.push(doc.data());
                })
                this.messages=allMessages;
                setTimeout(()=>{
                    this.scrollToBottom();
                },1000);
            })
        },



    getKontak() {
      axios.post("/cek_user_petugas")
      .then(response => {
            this.list = response.data;
                }).catch(error => {});
    },
    coba() {
        this.tujuan = this.selected;
/*        this.chanel = this.tujuan+this.nama;
        this.chanel2 = this.nama+this.tujuan;*/
    },


    },
mounted(){
  try {
    const jsonAuthUser = JSON.parse(localStorage.authUserEpunten);
    this.authUser = jsonAuthUser;
    this.permissionUser = JSON.stringify(localStorage.permissionEpunten);
  } catch (e) {
  } finally {
  }
  this.nama = this.authUser.name;
  this.getKontak();
   /*this.fetchMessages();*/
},
    created(){
       
    }
};    

</script>

<style scoped="">
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
</style>