<template>
  <div class="c-app flex-row align-items-center">
    <v-container fluid>
      <v-row class="justify-content-center">
        <v-col md="4">
            <v-card class="flex-row p-4">
                <Form>
                  <v-row>
                  <v-row class="justify-content mx-4 mb-4">
                        <CImg
                           src="https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/logo2.png"
                           width = '120px'
                           height = '120px'
                         />
                       </v-row>
                  <h1>Login</h1>
                </v-row>
                  <!-- <p class="text-muted">Masuk ke akun anda</p> -->
                  <v-text-field
                  v-model="form.nik"
                  :counter="16"
                  :rules ="[v => !!v || 'NIK harus diisi', v => v.length >= 15 || 'NIK kurang dari 16 digit']"
                  label="NIK"
                  data-vv-name="nik"
                  required
                  maxlength="16">
                  </v-text-field>
                      <v-text-field
                      v-model="form.password"
                      data-vv-name="password"
                      :rules ="[v => !!v || 'Password harus diisi', v => v.length >= 6 || 'Password kurang dari 6 karakter']"
                      label="Password"
                      required
                      :append-icon="showPassword ? 'lock_open' : 'lock'"
                      :type="showPassword ? 'text' : 'password'"
                      @click:append="showPassword = !showPassword"
                      @keyup.native="checkCapslock"
                      @blur="capsTooltip = false"
                      @keyup.enter.native="login()"
                      ></v-text-field>
                  <v-row>
                    <v-col col="6" class="text-left">
                      <v-btn color="primary" class="px-4" :loading="loading" :disabled="loading" dark @click="login">Login</v-btn>
                    </v-col>
                    <v-col col="6" class="text-right">
                      <CButton color="link" class="px-0">Lupa Password?</CButton>
                      <CButton color="link" class="d-lg-none" @click='register()'>Daftar Sekarang!</CButton>
                    </v-col>
                  </v-row>
                </Form>
            </v-card>
            <v-card
              color="#321fdb"
              text-color="white"
              class="text-center py-5 d-md-down-none flex-row"
              body-wrapper dark
            >
                <div class="bd-example" >
                <h1>Wilujeng sumping di</h1>
                <h1 italic><em>KOTA BANDUNG</em></h1>
              </div>
                <h2>e-PunTEN</h2>
                <p>e-PunTEN adalah salah satu inovasi dalam pengurusan surat keterangan tinggal sementara yang diterbitkan oleh
                  instansi yang bertanggung jawab dan berwenang melaksanakan pelayanan dalam urusan pelaksanaan administrasi kependudukan dalam hal ini yaitu
                  Dinas Kependudukan dan Pencatatan Sipil Kota Bandung, dan diberikan kepada Warga Negara Indonesia yang tinggal sementara di suatu kota/kabupaten.</p>
                <v-btn
                  class="primary"
                  size="lg" dark
                  @click='register()'
                >
                  Daftar Sekarang!
                </v-btn>
<v-snackbar
v-model="snackbar"
color="error"
:bottom="y === 'bottom'"
:left="x === 'left'"
:multi-line="mode === 'multi-line'"
:right="x === 'right'"
:top="y === 'top'"
:vertical="mode === 'vertical'"
:timeout="timeout"
>
{{ text }}
<v-btn color="error"

@click="snackbar = false"
>
Tutup
</v-btn>
</v-snackbar>                
            </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import store from "@/store";
import axios from "axios";

export default {
    $_veeValidate: {
    validator: 'new'
  },
  data(){
    return {
      form: {
        nik: "",
        password: ""
      },
          dictionary: {
        custom: {
          nik: {
            required: () => 'NIK tidak boleh kosong',
            digits: 'Format NIK harus 16 digit',
            numeric: 'Format NIK tidak sesuai'
          },
          password: {
            required: 'Password tidak boleh kosong',
            min: 'Password minimal 6 karakter'
          },
        }
},    
            passwordType: 'password',
      capsTooltip: false,
      showPassword: false,
      password: 'Password',
      snackbar: false,
      y: 'top',
      x: null,
      mode: '',
      timeout: 6000,
      text: 'error',
      loading: false,
};
},
/*  mounted () {
    this.$validator.localize('id', this.dictionary)
  },*/
  methods: {
    checkCapslock({ shiftKey, key } = {}) {
      if (key && key.length === 1) {
        if (shiftKey && (key >= 'a' && key <= 'z') || !shiftKey && (key >= 'A' && key <= 'Z')) {
          this.capsTooltip = true
        } else {
          this.capsTooltip = false
        }
      }
      if (key === 'CapsLock' && this.capsTooltip === true) {
        this.capsTooltip = false
      }
    },
        async login() {
      /*const isValid = await this.$validator.validateAll();
      if (isValid) {*/
        this.loading = true;
        this.form.nik = this.form.nik.toString();
        axios.post("/login", this.form).then(response => {
          if (response.data.status !== "error") {
            store.commit("loginUser");
            localStorage.tokenEpunten = response.data.access_token;
            localStorage.authUserEpunten = JSON.stringify(response.data.user);
            localStorage.permissionEpunten = response.data.permission;
            this.$router.push({ path: this.redirect || "/" });
            location.reload()
          } else {
            this.text = response.data.data;
            this.form.nik = ''
            this.form.password = ''
            // this.$validator.reset()
            this.snackbar = true
            return false;
          }
          
        }).catch(error => {
            this.text = "Terjadi Kesalahan. Mohon cek koneksi internet";
            this.loading = false
            this.snackbar = true
            return false;
      });;
      /*}*/
    },
    register() {
      this.$router.push({ path: this.redirect || "/pages/Register" });
    },
  },
};

</script>
