<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>E-Punten</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <link rel="apple-touch-icon" sizes="57x57" href="/icon epunten.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icon epunten.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icon epunten.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icon epunten.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icon epunten.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icon epunten.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icon epunten.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icon epunten.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon epunten.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/icon epunten.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon epunten.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icon epunten.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon epunten.png">
  <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-firestore.js"></script>
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/icon epunten.png">
  <meta name="theme-color" content="#ffffff">
    <meta name="csrf-token" value="{{ csrf_token() }}" />
  <!-- geotagging -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script> -->
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    // Shared ID
    gtag('config', 'UA-118965717-3');
    // Vue.js ID
    gtag('config', 'UA-118965717-7');
  </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
<!--     <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js"></script>
<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-analytics.js"></script><script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCMbYc-qV6yWVx0hx-m1t7yZfn5K3-CcQc",
    authDomain: "epunten-chat.firebaseapp.com",
    databaseURL: "https://epunten-chat.firebaseio.com",
    projectId: "epunten-chat",
    storageBucket: "epunten-chat.appspot.com",
    messagingSenderId: "831102151933",
    appId: "1:831102151933:web:efb12b98c7b804b0f7e294",
    measurementId: "G-23G8PJ3S3X"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script> -->
</head>

<body>
  <noscript>
    <strong>We're sorry but this app doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
