<template>
  <v-container>
    <v-card>
  <v-layout wrap align-center justify-center row fill-height class="mx-4 mb-4"  >
    <v-flex xs12 sm12 md12 lg12 xl12 class="text-xs-center pa-1 ">
      <p class="google-font mb-0" style="font-size:220%;color:#black">DOKUMEN</p>
      <p class="google-font mb-0" style="font-size:150%;color:#black;font-style:italic">*Untuk pengajuan pindah keluar</p>
      <br>
    </v-flex>
  </v-layout>

  <v-layout wrap align-center justify-center row fill-height   v-if = "this.notif === 0">
    <v-flex xs12 sm12 md2 lg2 xl2 class="pa-3 mx-6 align-center pa-1">
        <img  alt="" src="https://disdukcapil.bandung.go.id/api/public/assets/no-data.svg" style="width: 100px;">
          <p class="google-font font-italic-lighten" style="font-size:100%;color:#black">Belum ada Dokumen</p>
    </v-flex>
  </v-layout>

  <v-stepper  v-model="e1">
<!--     <v-stepper-header dark >
      <v-stepper-step :complete="e1 > 1" color="amber" step="1" dark>----------</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" color="amber" step="2" dark>Notifikasi</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3" color="amber" dark>----------</v-stepper-step>
    </v-stepper-header> -->

    <v-stepper-items>
      <v-stepper-content step="1">


      </v-stepper-content>

      <v-stepper-content step="2">

      </v-stepper-content>

      <v-stepper-content step="3">


        <v-layout justify-center  wrap row v-if ="this.notif !== 0">
          <v-flex  >
            <v-card
                  color="white lighten-4 rounded"
                >
          <v-banner color ="white" single-line >
    <v-icon
      slot="icon"
      color="red"
      size="36"
    >
      picture_as_pdf
    </v-icon>
    <span class="google-font font-italic text-black justify-center" style="font-size:90%;color:#black">KLIK DOWNLOAD UNTUK MENGUNDUH KARTU KELUARGA</span>

<!--     <template>
      <pdf src="./static/relativity.pdf"></pdf>
    </template> -->

    <template v-slot:actions>
      <v-btn
        color="black"
        text
        @click="getUser()"
      >
        DOWNLOAD
      </v-btn>
    </template>
  </v-banner>


      </v-card>

      </v-flex>
</v-layout>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
  <v-snackbar
v-model="snackbar"
color="error"
:bottom="y === 'bottom'"
:left="x === 'left'"
:multi-line="mode === 'multi-line'"
:right="x === 'right'"
:top="y === 'top'"
:vertical="mode === 'vertical'"
:timeout="timeout"
>
{{ text }}
<v-btn color="error"

@click="snackbar = false"
>
Tutup
</v-btn>
</v-snackbar> 
</v-card>
  </v-container>
</template>
<script>
import pdf from 'vue-pdf'
  export default {
      components: {
    pdf
  },
    // el: '#app',
    data () {
      return {
        data: {
          notif: "",
        },

        authUser: undefined,
        permissionUser: undefined,
        detailUser: [],
        notif: "",
        e1:3,
      snackbar: false,
      y: 'top',
      x: null,
      mode: '',
      timeout: 6000,
      text: 'error',
      loading: false,
      }
    },
mounted(){
  try {
    const jsonAuthUser = JSON.parse(localStorage.authUserEpunten);
    this.authUser = jsonAuthUser;
    this.permissionUser = JSON.stringify(localStorage.permissionEpunten);
  } catch (e) {
  } finally {
  }
  /*this.getUser();*/
  this.getPdf();
},

watch: {
},
methods:{
  toggle (item, index) {
    const i = this.selected.indexOf(item)

    if (i > -1) {
      this.selected.splice(i, 1)
    } else {
      this.selected.push(item)
    }
  },
  getUser() {

        axios({
                    url: "/get_kk_epunten",
                    method: 'post',
                    responseType: 'blob',
                }).then((response) => {
                  if (response.data.status != "error") {
                     var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                     var fileLink = document.createElement('a');

                     fileLink.href = fileURL;
                     fileLink.setAttribute('download', 'KartuKeluarga.pdf');
                     document.body.appendChild(fileLink);

                     fileLink.click()
                         this.showLoader = false;
                   } else {
                    this.text = response.data.data;
                    this.snackbar = true
                    return false;
                   }
  
    }).catch(err => console.log(this.error)).finally(() => this.loading = false);
  },
  getPdf(){
            axios.post("/get_kk_epunten",
                ).then((response) => {
                  if (response.data.status == "error") {
                    this.notif = 0;
                   } else {
                    this.notif = 1;
                   }
  
    }).catch(err => console.log(this.error)).finally(() => this.loading = false);
  },
  coba(){
    alert(this.detailUser)
  }

},
};
</script>
