<style scoped>
.img-pengajuan {
  width: 100%;
  cursor: zoom-in;
}
.card-img-pengajuan >>> .ant-card-body {
  padding: 0px;
}
.print-pengajuan {
  margin: auto;
  width: 100%;
  font-size: x-large !important;
  color: #409eff;
  cursor: pointer;
}
.anticon {
  margin-right: 6px;
  font-size: 18px;
  cursor: pointer;
}
.berkas {
  width: 100%
}
</style>
<template>
  <a-card :bordered="false">
    <a-table
    bordered
    size="small"
    :columns="myColumns"
    :rowKey="record => record.rn"
    :dataSource="dataTable"
    :pagination="pagination"
    :loading="loading"
    @change="handleTableChange"
    >
    <template slot="title" slot-scope="currentPageData">
      <a-input-search allowClear placeholder="Cari..." @search="getData" @keyup.enter.native="getData" v-model="query.searchBy" enterButton="Tampilkan" style="max-width: 400px;" />
    </template>
    <template slot="rn" slot-scope="rn">
      {{rn}}
    </template>
    <template slot="no_skts" slot-scope="no_skts">
      {{no_skts}}
    </template>
    <template slot="nik" slot-scope="nik">
      {{nik}}
    </template>
    <template slot="nama_lgkp" slot-scope="nama_lgkp">
      {{nama_lgkp}}
    </template>
    <template slot="tmpt_lhr" slot-scope="tmpt_lhr, record">
      {{tmpt_lhr}}, {{record.tgl_lhr | moment("DD-MM-YYYY")}}
    </template>
    <template slot="created_at" slot-scope="created_at">
      {{created_at | moment("DD-MM-YYYY")}}
    </template>
    <template slot="expandedRowRender" slot-scope="record">
      <a-row class="panel-group" :gutter="[16,16]">
        <div v-viewer="options">
          <a-col :xs="12" :sm="6" :md="4" :lg="4" :xl="4" v-if="record.imgupload1 != null">
            <a-card hoverable class="card-img-pengajuan">
              <img :src="`${apiPublicPath}` +  record.imgupload1"
              :data-source="`${apiPublicPath}` +  record.img_1"
              class="img-pengajuan" />
              <template class="ant-card-actions" slot="actions">
                <a-tooltip>
                  <template slot="title">
                    Print
                  </template>
                  <a-icon type="printer" class="print-pengajuan" @click="print(apiPublicPath + record.img_1)"/>
                </a-tooltip>
              </template>
            </a-card>
          </a-col>
          <a-col :xs="12" :sm="6" :md="4" :lg="4" :xl="4" v-if="record.imgupload2 != null">
            <a-card hoverable class="card-img-pengajuan">
              <img :src="`${apiPublicPath}` +  record.imgupload2"
              :data-source="`${apiPublicPath}` +  record.img_2"
              class="img-pengajuan" />
              <template class="ant-card-actions" slot="actions">
                <a-tooltip>
                  <template slot="title">
                    Print
                  </template>
                  <a-icon type="printer" class="print-pengajuan" @click="print(apiPublicPath + record.img_2)"/>
                </a-tooltip>
              </template>
            </a-card>
          </a-col>
          <a-col :xs="12" :sm="6" :md="4" :lg="4" :xl="4" v-if="record.imgupload3 != null">
            <a-card hoverable class="card-img-pengajuan">
              <img :src="`${apiPublicPath}` +  record.imgupload3"
              :data-source="`${apiPublicPath}` +  record.img_3"
              class="img-pengajuan" />
              <template class="ant-card-actions" slot="actions">
                <a-tooltip>
                  <template slot="title">
                    Print
                  </template>
                  <a-icon type="printer" class="print-pengajuan" @click="print(apiPublicPath + record.img_3)"/>
                </a-tooltip>
              </template>
            </a-card>
          </a-col>
          <a-col :xs="12" :sm="6" :md="4" :lg="4" :xl="4" v-if="record.imgupload4 != null">
            <a-card hoverable class="card-img-pengajuan">
              <img :src="`${apiPublicPath}` +  record.imgupload4"
              :data-source="`${apiPublicPath}` +  record.img_4"
              class="img-pengajuan" />
              <template class="ant-card-actions" slot="actions">
                <a-tooltip>
                  <template slot="title">
                    Print
                  </template>
                  <a-icon type="printer" class="print-pengajuan" @click="print(apiPublicPath + record.img_4)"/>
                </a-tooltip>
              </template>
            </a-card>
          </a-col>
        </div>
      </a-row>
      <a-row>
        <div
        v-for="item in record.notif"
        :key="item.id"
        style="padding-bottom: 5px;"
        >
        <a-alert
        :message="item.created_at | moment('DD-MM-YYYY HH:mm:ss')"
        :description="item.message"
        type="warning"
        showIcon
        />
      </div>
    </a-row>
    </template>
    <template slot="aksi" slot-scope="text, record">
      <a-tooltip>
        <template slot="title">
          Edit
        </template>
        <a-icon type="edit" theme="twoTone" @click="getUser(record)"/>
      </a-tooltip>
      <a-popconfirm title="Hapus data ini?" @confirm="() => hapusData(record.id)">
        <a-tooltip>
          <template slot="title">
            Hapus
          </template>
          <a-icon type="delete" theme="twoTone" twoToneColor="#eb2f96" />
        </a-tooltip>
      </a-popconfirm>
      <a-tooltip>
        <template slot="title">
          Print Semua Berkas
        </template>
        <a-icon type="printer" theme="twoTone"  @click="printAll(record)"/>
      </a-tooltip>
    </template>
    <template slot="footer" slot-scope="currentPageData">
      {{pagination.total | NumFormat}} Total Data
    </template>
  </a-table>
  <a-modal  :footer="null" title="Edit Pengajuan" v-model="dialogEdit">
    <a-skeleton active v-if="dataUser == false"/>
    <a-form-model v-else ref="tempEdit" :model="tempEdit" :rules="rules" layout="horizontal" :label-col="labelCol" :wrapper-col="wrapperCol" labelAlign="left">
      <a-row :gutter="16">
        <a-divider>BIODATA</a-divider>
        <a-form-model-item label="NIK" prop="nik">
          <a-input v-model="tempEdit.nik" :maxLength="16" @change="setNik"/>
        </a-form-model-item>
        <a-form-model-item label="Nama Lengkap" prop="nama_lgkp">
          <a-input v-model="tempEdit.nama_lgkp" @change="setNamaLgkp" />
        </a-form-model-item>
        <a-form-model-item label="Tempat Lahir" prop="tmpt_lhr">
          <a-input v-model="tempEdit.tmpt_lhr" @change="setTmptLhr" />
        </a-form-model-item>
        <a-form-model-item label="Tanggal Lahir" prop="tgl_lhr">
          <a-input v-model="tempEdit.tgl_lhr" placeholder="DD-MM-YYYY" v-mask="'##-##-####'" @change="setTglLhr" />
        </a-form-model-item>
        <a-form-model-item prop="jenis_klmin" label="Jenis Kelamin">
          <a-select :filterOption="filterOption" showSearch optionFilterProp="children" v-model="tempEdit.jenis_klmin">
            <a-select-option v-for="item in jenis_klmin" :key="item.no" :value="item.no">{{item.no}} - {{item.jenis_klmin}}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item prop="agama" label="Agama">
          <a-select :filterOption="filterOption" showSearch optionFilterProp="children" v-model="tempEdit.agama">
            <a-select-option v-for="item in agama" :key="item.no" :value="item.no">{{item.agama}}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item prop="stat_kwn" label="Status Kawin">
          <a-select :filterOption="filterOption" showSearch optionFilterProp="children" v-model="tempEdit.stat_kwn">
            <a-select-option v-for="item in stat_kwn" :key="item.no" :value="item.no">{{item.stat_kwn}}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item prop="gol_drh" label="Golongan Darah">
          <a-select :filterOption="filterOption" showSearch optionFilterProp="children" v-model="tempEdit.gol_drh">
            <a-select-option v-for="item in gol_drh" :key="item.no" :value="item.no">{{item.gol_drh}}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item prop="pendidikan" label="Pendidikan">
          <a-select :filterOption="filterOption" showSearch optionFilterProp="children" v-model="tempEdit.pendidikan">
            <a-select-option v-for="item in pendidikan" :key="item.no" :value="item.no">{{item.pendidikan}}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item prop="pekerjaan" label="Pekerjaan">
          <a-select :filterOption="filterOption" showSearch optionFilterProp="children" v-model="tempEdit.pekerjaan">
            <a-select-option v-for="item in pekerjaan" :key="item.no" :value="item.no">{{item.pekerjaan}}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item label="Telepon" prop="telepon">
          <a-input v-model="tempEdit.telepon"  @change="setTelepon"/>
        </a-form-model-item>
        <a-form-model-item label="E-mail" prop="email">
          <a-input v-model="tempEdit.email" style="text-transform: none;"/>
        </a-form-model-item>
      </a-row>

      <a-row :gutter="16">
        <a-divider>DATA DAERAH ASAL</a-divider>
        <a-form-model-item prop="src_prov" label="Provinsi">
          <a-select :filterOption="filterOption" showSearch optionFilterProp="children" v-model="tempEdit.src_prov" @change="updateProp">
            <a-select-option v-for="item in provinsi" :key="item.no_prop" :value="item.no_prop">{{item.nama_prop}}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item prop="src_kab" label="Kab/Kota">
          <a-select :filterOption="filterOption" showSearch optionFilterProp="children" v-model="tempEdit.src_kab" @change="updateKab">
            <a-select-option v-for="item in kabupaten" :key="item.no_kab" :value="item.no_kab">{{item.nama_kab}}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item prop="src_kec" label="Kecamatan">
          <a-select :filterOption="filterOption" showSearch optionFilterProp="children" v-model="tempEdit.src_kec" @change="updateKec">
            <a-select-option v-for="item in kecamatan" :key="item.no_kec" :value="item.no_kec">{{item.nama_kec}}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item prop="src_kel" label="Kelurahan">
          <a-select :filterOption="filterOption" showSearch optionFilterProp="children" v-model="tempEdit.src_kel">
            <a-select-option v-for="item in kelurahan" :key="item.no_kel" :value="item.no_kel">{{item.nama_kel}}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item prop="src_alamat" label="Alamat">
          <a-textarea v-model="tempEdit.src_alamat" autoSize />
        </a-form-model-item>
        <a-form-model-item label="No RT" prop="src_rt">
          <a-input v-model="tempEdit.src_rt" @change="setSrcRt" />
        </a-form-model-item>
        <a-form-model-item label="No RW" prop="src_rw">
          <a-input v-model="tempEdit.src_rw" @change="setSrcRw" />
        </a-form-model-item>
      </a-row>

      <a-row :gutter="16">
        <a-divider>DATA KOTA BANDUNG</a-divider>
        <a-form-model-item prop="kec" label="Kecamatan">
          <a-select :filterOption="filterOption" showSearch optionFilterProp="children" v-model="tempEdit.kec" @change="updateDestKec">
            <a-select-option v-for="item in destKecamatan" :key="item.no_kec" :value="item.no_kec">{{item.nama_kec}}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item prop="kel" label="Kelurahan">
          <a-select :filterOption="filterOption" showSearch optionFilterProp="children" v-model="tempEdit.kel">
            <a-select-option v-for="item in destKelurahan" :key="item.no_kel" :value="item.no_kel">{{item.nama_kel}}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item prop="alamat" label="Alamat">
          <a-textarea v-model="tempEdit.alamat" autoSize />
        </a-form-model-item>
        <a-form-model-item label="No RT" prop="no_rt">
          <a-input v-model="tempEdit.no_rt" @change="setRt" />
        </a-form-model-item>
        <a-form-model-item label="No RW" prop="no_rw">
          <a-input v-model="tempEdit.no_rw" @change="setRw" />
        </a-form-model-item>
      </a-row>

      <a-row :gutter="16">
        <a-divider>BERKAS PERSYARATAN</a-divider>
        <a-col :span="12">
          <a-card hoverable class="card-img-pengajuan">
            <div class="form-group">
              <input
              type="file"
              id="imgupload1"
              ref="imgupload1"
              accept="image/*"
              style="display: none;"
              v-on:change="handleFileUpload('imgupload1', 'image1')"
              />
              <img v-bind:src="[image1 != '' ? image1 : 'img/no_img.png']"
              class="berkas"
              @click="$refs.imgupload1.click()"
              />
            </div>
          </a-card>
          <div class="text-center">
            <h3>Pas Foto Berwarna</h3>
          </div>
        </a-col>
        <a-col :span="12">
          <a-card hoverable class="card-img-pengajuan">
            <div class="form-group">
              <input
              type="file"
              id="imgupload2"
              ref="imgupload2"
              accept="image/*"
              style="display: none;"
              v-on:change="handleFileUpload('imgupload2', 'image2')"
              />
              <img v-bind:src="[image2 != '' ? image2 : 'img/no_img.png']"
              class="berkas"
              @click="$refs.imgupload2.click()"
              />
            </div>
          </a-card>
          <div class="text-center">
            <h3>KTP-el</h3>
          </div>
        </a-col>
        <a-col :span="12">
          <a-card hoverable class="card-img-pengajuan">
            <div class="form-group">
              <input
              type="file"
              id="imgupload3"
              ref="imgupload3"
              accept="image/*"
              style="display: none;"
              v-on:change="handleFileUpload('imgupload3', 'image3')"
              />
              <img v-bind:src="[image3 != '' ? image3 : 'img/no_img.png']"
              class="berkas"
              @click="$refs.imgupload3.click()"
              />
            </div>
          </a-card>
          <div class="text-center">
            <h3>Kartu Keluarga</h3>
          </div>
        </a-col>
        <a-col :span="12">
          <a-card hoverable class="card-img-pengajuan">
            <div class="form-group">
              <input
              type="file"
              id="imgupload4"
              ref="imgupload4"
              accept="image/*"
              style="display: none;"
              v-on:change="handleFileUpload('imgupload4', 'image4')"
              />
              <img v-bind:src="[image4 != '' ? image4 : 'img/no_img.png']"
              class="berkas"
              @click="$refs.imgupload4.click()"
              />
            </div>
          </a-card>
          <div class="text-center">
            <h3>Surat Pengantar RT/RW</h3>
          </div>
        </a-col>
      </a-row>

      <a-form-model-item :wrapper-col="{ span: 24 }" style="text-align: center; padding-top: 30px;">
        <a-button @click="resetForm" :loading="loading">Batal</a-button>
        <a-button :style="{ marginLeft: '8px' }" type="primary" :loading="loading" @click="updateData('tempEdit')">Simpan</a-button>
      </a-form-model-item>
    </a-form-model>
  </a-modal>
</a-card>
</template>

<script>
export default {
  data() {
    let cekNik = (rule, value, callback) => {
      if (!value) {
        callback(new Error('IK tidak boleh kosong'));
      } else if (value.length != 16) {
        callback(new Error("Format NIK salah"));
      } else {
        callback();
      }
    };
    return {
      labelCol: { span: 8 },
      wrapperCol: { span: 16 },
      query: {
        page: 1,
        limit: 10,
        sort: "id",
        sortType: "asc",
        status: 2,
        stat_berkas: 1,
        searchBy: "",
      },
      dataUser: false,
      permissionUser: undefined,
      loading: false,
      form: this.$form.createForm(this, { name: 'frmUser' }),
      tempEdit: {
        nik: '',
        nama_lgkp: '',
        tmpt_lhr: '',
        tgl_lhr: '',
        jenis_klmin: '',
        agama: '',
        stat_kwn: '',
        gol_drh: '',
        pendidikan: '',
        pekerjaan: '',
        src_prov: '',
        src_kab: '',
        src_kec: '',
        src_kel: '',
        src_alamat: '',
        src_rt: '',
        src_rw: '',
        prov: 32,
        kab: 73,
        kec: '',
        kel: '',
        alamat: '',
        no_rt: '',
        no_rw: '',
        telepon: '',
        email: '',
        password: '',
        konfirmasi_password: '',
        _method: 'put'
      },
      jenis_klmin: [],
      agama: [],
      stat_kwn: [],
      gol_drh: [],
      pendidikan: [],
      pekerjaan: [],
      provinsi: [],
      kabupaten: [],
      kecamatan: [],
      kelurahan: [],
      destKecamatan: [],
      destKelurahan: [],
      imgupload1: null,
      imgupload2: null,
      imgupload3: null,
      imgupload4: null,
      image1: "",
      image2: "",
      image3: "",
      image4: "",
      dialogEdit: false,
      tempClean: {},
      dialogFormVisible: false,
      dataTable: [],
      pagination: {
        total: 0,
        pageSize: 10,
        current: 1,
        showSizeChanger: true,
        pageSizeOptions: ['10', '20', '30', '40', '50'],
      },
      myColumns : [
        { dataIndex: "rn", title: "#" },
        {
          title: 'NO SKTS',
          dataIndex: 'no_skts',
          scopedSlots: { customRender: 'no_skts' },
        },
        {
          title: 'NIK',
          dataIndex: 'nik',
          scopedSlots: { customRender: 'nik' },
        },
        {
          title: 'Nama Lengkap',
          dataIndex: 'nama_lgkp',
          sorter: true,
          scopedSlots: { customRender: 'nama_lgkp' },
        },
        {
          title: 'TTL',
          dataIndex: 'tmpt_lhr',
          scopedSlots: { customRender: 'tmpt_lhr' },
        },
        {
          title: 'Tanggal Pengajuan',
          dataIndex: 'created_at',
          sorter: true,
          scopedSlots: { customRender: 'created_at' },
        },
        {
          title: 'Aksi',
          scopedSlots: { customRender: 'aksi' },
        },
      ],
      options: {
        loop: false,
        toolbar: true,
        url: "data-source"
      },
      apiPublicPath: process.env.VUE_APP_API_URL,
      rules: {
        nik: [
          {required: true,
            validator: cekNik,
            trigger: "blur"
          }
        ],
        nama_lgkp: [
          {
            required: true,
            message: "Nama tidak boleh kosong",
            trigger: "blur"
          }
        ],
        tmpt_lhr: [
          {
            required: true,
            message: "Tempat lahir tidak boleh kosong",
            trigger: "blur"
          }
        ],
        tgl_lhr: [
          {
            required: true,
            message: "Tanggal lahir tidak boleh kosong",
            trigger: "blur"
          }
        ],
        jenis_klmin: [
          {
            required: true,
            message: "Tanggal lahir tidak boleh kosong",
            trigger: "change"
          }
        ],
        email: [
          {
            type: "email",
            message: "Format email tidak sesuai",
            trigger: "blur"
          }
        ],
        agama: [
          {
            required: true,
            message: "Pilih Agama",
            trigger: "change"
          }
        ],
        stat_kwn: [
          {
            required: true,
            message: "Pilih satus perkawinan",
            trigger: "change"
          }
        ],
        gol_drh: [
          {
            required: true,
            message: "Pilih golongan darah",
            trigger: "change"
          }
        ],
        pendidikan: [
          {
            required: true,
            message: "Pilih pendidikan",
            trigger: "change"
          }
        ],
        pekerjaan: [
          {
            required: true,
            message: "Pilih jenis pekerjaan",
            trigger: "change"
          }
        ],
        src_prov: [
          {
            required: true,
            message: "Pilih provinsi asal",
            trigger: "change"
          }
        ],
        src_kab: [
          {
            required: true,
            message: "Pilih kab/kota asal",
            trigger: "change"
          }
        ],
        src_kec: [
          {
            required: true,
            message: "Pilih kecamatan asal",
            trigger: "change"
          }
        ],
        src_kel: [
          {
            required: true,
            message: "Pilih kelurahan asal",
            trigger: "change"
          }
        ],
        src_alamat: [
          {
            required: true,
            message: "Alamat asal tidak boleh kosong",
            trigger: "blur"
          }
        ],
        src_rt: [
          {
            required: true,
            message: "Nomor RT tidak boleh kosong",
            trigger: "blur"
          }
        ],
        src_rw: [
          {
            required: true,
            message: "Nomor RW tidak boleh kosong",
            trigger: "blur"
          }
        ],
        kec: [
          {
            required: true,
            message: "Pilih kecamatan saat ini",
            trigger: "change"
          }
        ],
        kel: [
          {
            required: true,
            message: "Pilih kelurahan saat ini",
            trigger: "change"
          }
        ],
        alamat: [
          {
            required: true,
            message: "Alamat saat ini tidak boleh kosong",
            trigger: "blur"
          }
        ],
        no_rt: [
          {
            required: true,
            message: "Nomor RT tidak boleh kosong",
            trigger: "blur"
          }
        ],
        no_rw: [
          {
            required: true,
            message: "Nomor RW tidak boleh kosong",
            trigger: "blur"
          }
        ],
      },
    };
  },
  created() {
    try {
      this.permissionUser = JSON.stringify(localStorage.permissionEpunten);
    } catch (e) {
      console.log(e)
    }
    this.storeData();
    this.checkPermissions();
    this.getData();
    this.getDataInput();
  },
  watch: {
    $route: "checkPermissions"
  },
  methods: {
    setNik(e){
      const { value } = e.target;
      this.tempEdit.nik = value.replace(/[^0-9]+/g, '');
    },
    setNamaLgkp(e){
      const { value } = e.target;
      this.tempEdit.nama_lgkp = value.replace(/[^a-zA-Z ]+/g, '');
    },
    setTmptLhr(e){
      const { value } = e.target;
      this.tempEdit.tmpt_lhr = value.replace(/[^a-zA-Z ]+/g, '');
    },
    setTglLhr(e){
      const { value } = e.target;
      this.tempEdit.tgl_lhr = value.replace(/[^0-9-]+/g, '');
    },
    setTelepon(e){
      const { value } = e.target;
      this.tempEdit.telepon = value.replace(/[^0-9+]+/g, '');
    },
    setSrcRt(e){
      const { value } = e.target;
      this.tempEdit.src_rt = value.replace(/[^0-9]+/g, '');
    },
    setSrcRw(e){
      const { value } = e.target;
      this.tempEdit.src_rw = value.replace(/[^0-9]+/g, '');
    },
    setRt(e){
      const { value } = e.target;
      this.tempEdit.no_rt = value.replace(/[^0-9]+/g, '');
    },
    setRw(e){
      const { value } = e.target;
      this.tempEdit.no_rw = value.replace(/[^0-9]+/g, '');
    },
    print(url) {
      printJS({
        printable: [url],
        type: "image",
        imageStyle: "width: 21cm; height: 29.7cm; "
      });
    },

    printAll(url) {
      const arr = [];
      if (url.img_1) {
        arr.push(this.apiPublicPath + url.img_1);
      }
      if (url.img_2) {
        arr.push(this.apiPublicPath + url.img_2);
      }
      if (url.img_3) {
        arr.push(this.apiPublicPath + url.img_3);
      }
      if (url.img_4) {
        arr.push(this.apiPublicPath + url.img_4);
      }

      printJS({
        printable: arr,
        type: "image",
        imageStyle: "page-break-after: always; width: 21cm; height: 29.7cm; "
      });
    },

    checkPermissions() {
      if (!this.permissionUser.includes("pengajuan")) {
        this.$router.push({ path: "/403" });
      }
    },

    handleFileUpload(source, image) {
      this[source + ""] = this.$refs[source].files[0];
      var fsize = this[source + ""].size;
      fsize += Math.round(fsize / 1024);
      if (fsize > 10485760) {
        this.$message.error('Ukuran gambar tidak boleh lebih dari 10MB.');
        return false;
      }

      let reader = new FileReader();
      reader.addEventListener(
        "load",
        function() {
          this[image + ""] = reader.result;
        }.bind(this),
        false
      );
      if (this[source + ""]) {
        if (/\.(jpe?g|png|gif)$/i.test(this[source + ""].name)) {
          reader.readAsDataURL(this[source + ""]);
        }else{
          return false;
        }
      }
    },

    handleTableChange(pagination, filters, sorter) {
      this.pagination.current = pagination.current
      this.query.limit = pagination.pageSize;
      this.query.page = pagination.current;
      if(sorter.field){
        this.query.sort = sorter.field;
        if(sorter.order == 'ascend'){
          this.query.sortType = 'asc';
        } else {
          this.query.sortType = 'desc';
        }
      }
      this.getData();
    },

    async getData() {
      this.loading = true;
      axios.get("/app/data-pengajuan-btl", { params: this.query })
      .then(response => {
        this.dataTable = response.data.data
        this.pagination.total = response.data.total;
        this.loading = false;
      }).catch(error => {
        this.$message.error('Gagal mengambil data');
        this.loading = false
      });
    },

    async getDataInput() {
      axios.get("/ektp")
      .then(response => {
        this.jenis_klmin = response.data.jenis_klmin;
        this.agama = response.data.agama;
        this.stat_kwn = response.data.stat_kwn;
        this.gol_drh = response.data.gol_drh;
        this.pendidikan = response.data.pendidikan;
        this.pekerjaan = response.data.pekerjaan;
        this.provinsi = response.data.prov;
        this.destKecamatan = response.data.kecamatan;
      });
    },

    async getUser(row) {
      this.tempEdit = Object.assign({}, row);
      this.tempEdit.tgl_lhr = row.new_tgl_lhr;
      this.image1 =
      this.apiPublicPath + row.imgupload1;
      this.image2 =
      this.apiPublicPath + row.imgupload2;
      this.image3 =
      this.apiPublicPath + row.imgupload3;
      this.image4 =
      this.apiPublicPath + row.imgupload4;
      this.getKab()
      this.getKec()
      this.getKel()
      this.getDestKel()
      this.dialogEdit = true;
      this.dataUser = true
    },

    updateData(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.loading = true
          let formData = new FormData();

          //if(this.tempEdit.nik){
          formData.append("setAcc", "1");
          //}

          if(this.tempEdit.nik){
            formData.append("nik", this.tempEdit.nik);
          }
          if(this.tempEdit.nama_lgkp){
            formData.append("nama_lgkp", this.tempEdit.nama_lgkp.toUpperCase());
          }
          if(this.tempEdit.tmpt_lhr){
            formData.append("tmpt_lhr", this.tempEdit.tmpt_lhr.toUpperCase());
          }
          if(this.tempEdit.tgl_lhr){
            formData.append("tgl_lhr", this.tempEdit.tgl_lhr);
          }
          if(this.tempEdit.jenis_klmin){
            formData.append("jenis_klmin", this.tempEdit.jenis_klmin);
          }
          if(this.tempEdit.agama){
            formData.append("agama", this.tempEdit.agama);
          }
          if(this.tempEdit.stat_kwn){
            formData.append("stat_kwn", this.tempEdit.stat_kwn);
          }
          if(this.tempEdit.gol_drh){
            formData.append("gol_drh", this.tempEdit.gol_drh);
          }
          if(this.tempEdit.pendidikan){
            formData.append("pendidikan", this.tempEdit.pendidikan);
          }
          if(this.tempEdit.pekerjaan){
            formData.append("pekerjaan", this.tempEdit.pekerjaan);
          }
          if(this.tempEdit.src_prov){
            formData.append("src_prov", this.tempEdit.src_prov);
          }
          if(this.tempEdit.src_kab){
            formData.append("src_kab", this.tempEdit.src_kab);
          }
          if(this.tempEdit.src_kec){
            formData.append("src_kec", this.tempEdit.src_kec);
          }
          if(this.tempEdit.src_kel){
            formData.append("src_kel", this.tempEdit.src_kel);
          }
          if(this.tempEdit.src_alamat){
            formData.append("src_alamat", this.tempEdit.src_alamat.toUpperCase());
          }
          if(this.tempEdit.src_rt){
            formData.append("src_rt", this.tempEdit.src_rt);
          }
          if(this.tempEdit.src_rw){
            formData.append("src_rw", this.tempEdit.src_rw);
          }
          if(this.tempEdit.kec){
            formData.append("kec", this.tempEdit.kec);
          }
          if(this.tempEdit.kel){
            formData.append("kel", this.tempEdit.kel);
          }
          if(this.tempEdit.alamat){
            formData.append("alamat", this.tempEdit.alamat.toUpperCase());
          }
          if(this.tempEdit.no_rt){
            formData.append("no_rt", this.tempEdit.no_rt);
          }
          if(this.tempEdit.no_rw){
            formData.append("no_rw", this.tempEdit.no_rw);
          }
          if(this.tempEdit.telepon){
            formData.append("telepon", this.tempEdit.telepon);
          }
          if(this.tempEdit.email){
            formData.append("email", this.tempEdit.email);
          }
          if (this.imgupload1 != null) {
            formData.append("imgupload1", this.imgupload1);
          }
          if (this.imgupload2 != null) {
            formData.append("imgupload2", this.imgupload2);
          }
          if (this.imgupload3 != null) {
            formData.append("imgupload3", this.imgupload3);
          }
          if (this.imgupload4 != null) {
            formData.append("imgupload4", this.imgupload4);
          }

          formData.append("_method", "put");
          axios.post("/app/users/" + this.tempEdit.id, formData, {
            headers: { "Content-Type": "multipart/form-data" }
          }).then(response => {
            this.resetForm();
            this.$message.success('Data disimpan');
            this.getData();
            this.loading = false
          }).catch(error => {
            this.$message.error('Tidak dapat menyimpan data');
            this.loading = false
          });
        }
      });
    },

    async getKab() {
      axios.post("/ektp-kab", {no_prop: this.tempEdit.src_prov })
      .then(response => {
        this.kabupaten = response.data.kabupaten;
      });
    },

    async getKec() {
      axios.post("/ektp-kec", {no_prop: this.tempEdit.src_prov, no_kab: this.tempEdit.src_kab })
      .then(response => {
        this.kecamatan = response.data.kecamatan;
      });
    },

    async getKel() {
      axios.post("/ektp-kel", {no_prop:  this.tempEdit.src_prov, no_kab: this.tempEdit.src_kab, no_kec: this.tempEdit.src_kec })
      .then(response => {
        this.kelurahan = response.data.kelurahan;
      });
    },

    async getDestKel() {
      axios.post("/ektp-dest-kel", {prov: 32, kab: 73, no_kec: this.tempEdit.kec })
      .then(response => {
        this.destKelurahan = response.data.kelurahan;
      });
    },

    async updateProp(){
      this.tempEdit.src_kab = ''
      this.tempEdit.src_kec = ''
      this.tempEdit.src_kel = ''
      this.getKab()
    },

    async updateKab(){
      this.tempEdit.src_kec = ''
      this.tempEdit.src_kel = ''
      this.getKec()
    },

    async updateKec(){
      this.tempEdit.src_kel = ''
      this.getKel()
    },

    async updateDestKec(){
      this.tempEdit.kel = ''
      this.getDestKel()
    },

    hapusData(id) {
      this.loading = true
      axios.delete("/pengajuan/" + id).then(response => {
        this.getData();
        this.loading = false
        this.$message.success('Data berhasil dihapus');
      }).catch(error => {
        this.$message.error('Tidak dapat menghapus data');
        this.loading = false
      });
    },

    storeData(){
      this.tempClean = this.tempEdit
    },

    resetForm(){
      this.tempEdit = this.tempClean
      this.imgupload1= null
      this.imgupload2= null
      this.imgupload3= null
      this.imgupload4= null
      this.image1= ""
      this.image2= ""
      this.image3= ""
      this.image4= ""
      this.dialogEdit = false
    },

    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
      );
    },
  }
};
</script>
