<template>
<v-container>
	<v-card color="green">

  <v-layout wrap align-center justify-center row fill-height v-if ="this.notif === 0" >
    <v-flex xs12 sm12 md2 lg2 xl2 class=" text-center align-center pa-1">
        <img  alt="" src="https://disdukcapil.bandung.go.id/api/public/assets/no-data.svg" style="width: 100px;">
          <p class="google-font font-italic-lighten" style="font-size:100%;color:#black">Belum ada notifikasi</p>
    </v-flex>
  </v-layout>

   <v-layout wrap align-center justify-center row fill-height class="mx-4 mb-4" v-if ="this.notif !== 0">
      <v-flex  class="align-center">
          <v-banner color ="green" single-line @click:icon="alert">
    <v-icon
      slot="icon"
      color="warning"
      size="36"
    >
      assignment_late
    </v-icon>
    <span class="google-font font-italic text-white justify-center" style="font-size:180%;color:#white">{{ data.message }}</span>>

    <template v-slot:actions>
      <v-btn
        color="white"
        text
      >
        Connecting Settings
      </v-btn>
    </template>
  </v-banner>
      </v-flex>
</v-layout>


  </v-card>	
</v-container>
</template>

<script>
  export default {
    // el: '#app',
    data () {
      return {
        data: {
        	notif: "",
        },

        authUser: undefined,
        permissionUser: undefined,
        detailUser: [],
        notif: "",

      }
    },
mounted(){
  try {
    const jsonAuthUser = JSON.parse(localStorage.authUserEpunten);
    this.authUser = jsonAuthUser;
    this.permissionUser = JSON.stringify(localStorage.permissionEpunten);
  } catch (e) {
  } finally {
  }
  this.getUser();
},

watch: {
},
methods:{
  toggle (item, index) {
    const i = this.selected.indexOf(item)

    if (i > -1) {
      this.selected.splice(i, 1)
    } else {
      this.selected.push(item)
    }
  },
  getUser() {
    axios.post("/cek_notif",{nik:this.authUser.nik}).then(response => {
    	if (response.data.status == "error"){
    		this.notif = 0;
    	}else{
    		this.notif = 1;
    		this.data = response.data[0];
    	    	}
      // this.detailUser = response.data[0];
      // this.jumlah = response.data;
      // this.e1 = this.detailUser.proc_stat;
      // this.error = response.code;
      // this.profil = response.data.pengajuan.img_thumb_1;
      this.showLoader = false;
    }).catch(err => console.log(this.error)).finally(() => this.loading = false);
  },
  coba(){
    alert(this.detailUser)
  }

},
};
</script>
