<template>
  <v-container>
    <v-card>
  <v-layout wrap align-center justify-center row fill-height class="mx-4 mb-4"  >
    <v-flex xs12 sm12 md12 lg12 xl12 class="text-xs-center pa-1 ">
      <p class="google-font mb-0" style="font-size:220%;color:#black">NOTIFIKASI</p>
      <br>
    </v-flex>
  </v-layout>

  <v-layout wrap align-center justify-center row fill-height   v-if = "this.notif === 0">
    <v-flex xs12 sm12 md2 lg2 xl2 class="pa-3 mx-6 align-center pa-1">
        <img  alt="" src="https://disdukcapil.bandung.go.id/api/public/assets/no-data.svg" style="width: 100px;">
          <p class="google-font font-italic-lighten" style="font-size:100%;color:#black">Belum ada notifikasi</p>
    </v-flex>
  </v-layout>

  <v-stepper  v-model="e1">
    <v-stepper-header dark >
<!--       <v-stepper-step :complete="e1 > 1" color="amber" step="1" dark>----------</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" color="amber" step="2" dark>Notifikasi</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3" color="amber" dark>----------</v-stepper-step> -->
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">


      </v-stepper-content>

      <v-stepper-content step="2">

      </v-stepper-content>

      <v-stepper-content step="3">


        <v-layout justify-center  wrap row v-if ="this.notif !== 0">
          <v-flex  >
            <v-card
                  color="white lighten-4 rounded"
                >
          <v-banner color ="white" single-line >
    <v-icon
      slot="icon"
      color="success"
      size="36"
    >
      assignment_late
    </v-icon>
    <span class="google-font font-italic text-black justify-center" style="font-size:180%;color:#black">{{ data.message }}</span>

    <template v-slot:actions>
      <v-btn
        color="black"
        text
        to="/monitoring/monitoring"
      >
        Monitoring Pengajuan
      </v-btn>
    </template>
  </v-banner>


      </v-card>

      </v-flex>
</v-layout>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</v-card>
  </v-container>
</template>
<script>
  export default {
    // el: '#app',
    data () {
      return {
        data: {
          notif: "",
        },

        authUser: undefined,
        permissionUser: undefined,
        detailUser: [],
        notif: "",
        e1:3,
      }
    },
mounted(){
  try {
    const jsonAuthUser = JSON.parse(localStorage.authUserEpunten);
    this.authUser = jsonAuthUser;
    this.permissionUser = JSON.stringify(localStorage.permissionEpunten);
  } catch (e) {
  } finally {
  }
  this.getUser();
},

watch: {
},
methods:{
  toggle (item, index) {
    const i = this.selected.indexOf(item)

    if (i > -1) {
      this.selected.splice(i, 1)
    } else {
      this.selected.push(item)
    }
  },
  getUser() {
    axios.post("/cek_notif",{nik:this.authUser.nik}).then(response => {
      if (response.data.status == "error"){
        this.notif = 0;
      }else{
        this.notif = 1;
        this.data = response.data[0];
            }
      // this.detailUser = response.data[0];
      // this.jumlah = response.data;
      // this.e1 = this.detailUser.proc_stat;
      // this.error = response.code;
      // this.profil = response.data.pengajuan.img_thumb_1;
      this.showLoader = false;
    }).catch(err => console.log(this.error)).finally(() => this.loading = false);
  },
  coba(){
    alert(this.detailUser)
  }

},
};
</script>
