<template>
  <v-container>
    <v-card>
    <v-layout wrap align-center justify-center row fill-height class="mx-4 mb-4"  >
      <v-flex xs12 sm12 md12 lg12 xl12 class="text-xs-center pa-1">
        <p class="google-font mb-0" style="font-size:220%;color:#black"><img src="https://disdukcapil.bandung.go.id/api/public/assets/LayananWna.png" width = '80px' height = '80px'>   Akta Kelahiran</p>
      </v-flex>
      <v-flex xs6 sm6 md2 lg2 xl2 class="align-center">
      <!-- <img src="https://disdukcapil.bandung.go.id/api/public/assets/SKTS.png" width = '220px' height = '220px'> -->
      <br>
      <br>
       </v-flex>
    </v-layout>
    <v-layout wrap row class="mx-4 mb-4">
      <v-flex xs12>
                <form>
                                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                    <v-divider></v-divider>
                  <p class="google-font font-italic mb-0" style="font-size:170%;color:#black">Data Keluarga</p>
                    <v-divider></v-divider>
                  </v-flex>
                <v-layout warp row>
                                        <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.no_kk"
                        :rules ="[v => !!v || 'Nomor Kartu Keluarga harus diisi', v => v.length >= 15 || 'Nomor Kartu Keluarga kurang dari 16 digit']"

                        :counter="16"
                        label="Nomor Kartu Keluarga"
                        data-vv-name="Nomor Kartu Keluarga"
                        required
                        maxlength="16"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nama_lgkp_kk"
                        :rules ="[v => !!v || 'Nama lengkap Kepala Keluarga harus diisi', v => !/([!@$%0-9])/.test(v) || 'Format yang anda masukan salah']"

                        label="Nama Lengkap Kepala Keluarga"
                        data-vv-name="nama_lgkp_kk"
                        required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.kk_prov"
                      :items="provinsi"
                      item-text="nama_prop"
                      item-value="no_prop"
                      :rules ="[v => !!v || 'Provinsi asal belum dipilih']"
                      label="Provinsi"
                      data-vv-name="kk_prov"
                      required
                      return-object
                      @change="postkkKab"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.kk_kab"
                      :items="kabupaten"
                      item-text="nama_kab"
                      item-value="no_kab"
                      :rules ="[v => !!v || 'Kabupaten/kota asal belum dipilih']"
                      label="Kab/Kota"
                      data-vv-name="kk_kab"
                      required
                      :loading= "loadingKab"
                      return-object
                      @change="postkkKec"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.kk_kec"
                      :items="kecamatan"
                      item-text="nama_kec"
                      item-value="no_kec"
                      :rules ="[v => !!v || 'Kecamatan asal belum dipilih']"
                      label="Kecamatan"
                      data-vv-name="kk_kec"
                      required
                      :loading= "loadingKec"
                      return-object
                      @change="postkkKel"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.kk_kel"
                      :items="kelurahan"
                      :rules ="[v => !!v || 'Kelurahan asal belum dipilih']"
                      item-text="nama_kel"
                      item-value="no_kel"
                      label="Kelurahan"
                      data-vv-name="kk_kel"
                      required
                      :loading= "loadingKel"
                      return-object
                      ></v-select>
                    </v-flex>
                </v-layout>

                  <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                    <v-divider></v-divider>
                  <p class="google-font font-italic mb-0" style="font-size:170%;color:#black">Data Bayi/Anak</p>
                    <v-divider></v-divider>
                  </v-flex>

                    <v-layout wrap row>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nik"
                        :rules ="[v => !!v || 'NIK harus diisi', v => v.length >= 15 || 'NIK kurang dari 16 digit']"

                        :counter="16"
                        label="NIK"
                        data-vv-name="nik"
                        required
                        maxlength="16"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nama_lgkp"
                        :rules ="[v => !!v || 'Nama lengkap harus diisi', v => !/([!@$%0-9])/.test(v) || 'Format yang anda masukan salah']"

                        label="Nama Lengkap"
                        data-vv-name="nama_lgkp"
                        required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.jenis_klmin"
                      :items="jenis_klmin"
                      :rules ="[v => !!v || 'Jenis kelamin belum dipilih']"
                      item-text="data"
                      item-value="no"

                      label="Jenis Kelamin"
                      data-vv-name="jenis_klmin"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.tmpt_dlhr"
                      :items="tmpt_dlhr"
                      :rules ="[v => !!v || 'Tempat Dilahirkan belum dipilih']"
                      item-text="data"
                      item-value="no"

                      label="Tempat Dilahirkan"
                      data-vv-name="tmpt_dlhr"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.tmpt_lhr"
                        :rules ="[v => !!v || 'Tempat lahir harus diisi', v => !/([!@$%])/.test(v) || 'Format yang anda masukan salah']"
                        label="Tempat Keahiran"
                        data-vv-name="tmpt_lhr"
                        required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        v-model="data.tgl_lhr_bayi"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        label="Tanggal Kelahiran"

                        hint="YYYY-MM-DD"
                        v-mask="'####-##-##'"
                        max-width="290px"
                        min-width="290px"
                        >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.pukul"
                        :rules ="[v => !!v || 'Format yang anda masukan salah']"

                        label="Pukul/Jam"
                        data-vv-name="pukul"
                        hint="Waktu Setempat"
                        required
                        ></v-text-field>
                      </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.jenis_kelahiran"
                      :items="jenis_kelahiran"
                      item-text="data"
                      item-value="no"
                      :rules ="[v => !!v || 'Jenis kelahiran belum dipilih']"
                      label="Jenis Kelahiran"
                      data-vv-name="jenis_kelahiran"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.kelahiran_ke"
                        :rules ="[v => !!v || 'Format yang anda masukan salah']"

                        label="Kelahiran Ke"
                        data-vv-name="kelahiran_ke"
                        required
                        ></v-text-field>
                      </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.penolong_kelahiran"
                      :items="penolong_kelahiran"
                      item-text="data"
                      item-value="no"
                      :rules ="[v => !!v || 'Penolong kelahiran belum dipilih']"
                      label="Penolong Kelahiran"
                      data-vv-name="penolong_kelahiran"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.berat"
                        :rules ="[v => !!v || 'Format yang anda masukan salah']"

                        label="Berat Bayi"
                        data-vv-name="berat"
                        hint="*Kg"
                        required
                        ></v-text-field>
                      </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.panjang"
                        :rules ="[v => !!v || 'Format yang anda masukan salah']"

                        label="Panjang Bayi"
                        data-vv-name="panjang"
                        hint="*Cm"
                        required
                        ></v-text-field>
                      </v-flex>
                  </v-layout>

                  <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                    <v-divider></v-divider>
                  <p class="google-font font-italic mb-0" style="font-size:170%;color:#black">Data Ibu</p>
                    <v-divider></v-divider>
                  </v-flex>

                  <v-layout wrap row>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nik_ibu"
                        :rules ="[v => !!v || 'NIK harus diisi', v => v.length >= 15 || 'NIK kurang dari 16 digit']"

                        :counter="16"
                        label="NIK"
                        data-vv-name="nik"
                        required
                        maxlength="16"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nama_lgkp_ibu"
                        :rules ="[v => !!v || 'Nama lengkap Ibu harus diisi', v => !/([!@$%0-9])/.test(v) || 'Format yang anda masukan salah']"

                        label="Nama Lengkap"
                        data-vv-name="nama_lgkp_ibu"
                        required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        v-model="data.tgl_lhr_ibu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        label="Tanggal Kelahiran"

                        hint="YYYY-MM-DD"
                        v-mask="'####-##-##'"
                        max-width="290px"
                        min-width="290px"
                        >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                        class="upper"
                        v-model="data.umur_ibu"
                        :rules ="[v => !!v || 'Umur harus diisi', v => v.length >= 3 || 'Umur Lebih dari 16 digit']"

                        :counter="2"
                        label="Umur"
                        data-vv-name="umur_ibu"
                        required
                        maxlength="2"></v-text-field>
                      </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.pekerjaan_ibu"
                      :items="pekerjaan"
                      item-text="pekerjaan"
                      item-value="no"
                      :rules ="[v => !!v || 'Jenis pekerjaan belum dipilih']"
                      label="Pekerjaan"
                      data-vv-name="pekerjaan"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.ibu_prov"
                      :items="provinsi"
                      item-text="nama_prop"
                      item-value="no_prop"
                      :rules ="[v => !!v || 'Provinsi asal belum dipilih']"
                      label="Provinsi"
                      data-vv-name="ibu_prov"
                      required
                      return-object
                      @change="postibuKab"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.ibu_kab"
                      :items="kabupaten"
                      item-text="nama_kab"
                      item-value="no_kab"
                      :rules ="[v => !!v || 'Kabupaten/kota asal belum dipilih']"
                      label="Kab/Kota"
                      data-vv-name="ibu_kab"
                      required
                      :loading= "loadingKab"
                      return-object
                      @change="postibuKec"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.ibu_kec"
                      :items="kecamatan"
                      item-text="nama_kec"
                      item-value="no_kec"
                      :rules ="[v => !!v || 'Kecamatan asal belum dipilih']"
                      label="Kecamatan"
                      data-vv-name="ibu_kec"
                      required
                      :loading= "loadingKec"
                      return-object
                      @change="postibuKel"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.ibu_kel"
                      :items="kelurahan"
                      :rules ="[v => !!v || 'Kelurahan asal belum dipilih']"
                      item-text="nama_kel"
                      item-value="no_kel"
                      label="Kelurahan"
                      data-vv-name="ibu_kel"
                      required
                      :loading= "loadingKel"
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm12 md12 lg12 xl12 style="padding: 15px;">
                      <v-textarea
                      class="upper"
                      auto-grow
                      v-model="data.ibu_alamat"
                      :rules ="[v => !!v || 'Alamat asal belum diisi']"
                      label="Alamat"
                      hint="Alamat Lengkap"
                      data-vv-name="ibu_alamat"
                      required
                      ></v-textarea>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.ibu_rt"
                      :rules ="[v => !!v || 'Data RT belum diisi']"
                      label="No RT"
                      data-vv-name="ibu_rt"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.ibu_rw"
                      :rules ="[v => !!v || 'Data RW belum diisi']"
                      label="No RW"
                      data-vv-name="ibu_rw"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.kewarganegaraan"
                      :items="kewarganegaraan"
                      item-text="data"
                      item-value="no"
                      :rules ="[v => !!v || 'kewarganegaraan belum dipilih']"
                      label="Kewarganegaraan"
                      data-vv-name="kewarganegaraan"
                      required
                      return-object
                      ></v-select>
                    </v-flex>    
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.kewarganegaraan_ibu"
                        label="Kewarganegaraan (WNA)"
                        data-vv-name="kewarganegaraan_ibu"
                        required
                        ></v-text-field>  
                        </v-flex>                                  
                  </v-layout>

                  <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                    <v-divider></v-divider>
                  <p class="google-font font-italic mb-0" style="font-size:170%;color:#black">Data ayah</p>
                    <v-divider></v-divider>
                  </v-flex>

                  <v-layout wrap row>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nik_ayah"
                        :rules ="[v => !!v || 'NIK harus diisi', v => v.length >= 15 || 'NIK kurang dari 16 digit']"

                        :counter="16"
                        label="NIK"
                        data-vv-name="nik"
                        required
                        maxlength="16"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nama_lgkp_ayah"
                        :rules ="[v => !!v || 'Nama lengkap ayah harus diisi', v => !/([!@$%0-9])/.test(v) || 'Format yang anda masukan salah']"

                        label="Nama Lengkap"
                        data-vv-name="nama_lgkp_ayah"
                        required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        v-model="data.tgl_lhr_ayah"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        label="Tanggal Kelahiran"

                        hint="YYYY-MM-DD"
                        v-mask="'####-##-##'"
                        max-width="290px"
                        min-width="290px"
                        >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                        class="upper"
                        v-model="data.umur_ayah"
                        :rules ="[v => !!v || 'Umur harus diisi', v => v.length >= 3 || 'Umur Lebih dari 16 digit']"

                        :counter="2"
                        label="Umur"
                        data-vv-name="umur_ayah"
                        required
                        maxlength="2"></v-text-field>
                      </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.pekerjaan_ayah"
                      :items="pekerjaan"
                      item-text="pekerjaan"
                      item-value="no"
                      :rules ="[v => !!v || 'Jenis pekerjaan belum dipilih']"
                      label="Pekerjaan"
                      data-vv-name="pekerjaan"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.ayah_prov"
                      :items="provinsi"
                      item-text="nama_prop"
                      item-value="no_prop"
                      :rules ="[v => !!v || 'Provinsi asal belum dipilih']"
                      label="Provinsi"
                      data-vv-name="ayah_prov"
                      required
                      return-object
                      @change="postayahKab"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.ayah_kab"
                      :items="kabupaten"
                      item-text="nama_kab"
                      item-value="no_kab"
                      :rules ="[v => !!v || 'Kabupaten/kota asal belum dipilih']"
                      label="Kab/Kota"
                      data-vv-name="ayah_kab"
                      required
                      :loading= "loadingKab"
                      return-object
                      @change="postayahKec"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.ayah_kec"
                      :items="kecamatan"
                      item-text="nama_kec"
                      item-value="no_kec"
                      :rules ="[v => !!v || 'Kecamatan asal belum dipilih']"
                      label="Kecamatan"
                      data-vv-name="ayah_kec"
                      required
                      :loading= "loadingKec"
                      return-object
                      @change="postayahKel"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.ayah_kel"
                      :items="kelurahan"
                      :rules ="[v => !!v || 'Kelurahan asal belum dipilih']"
                      item-text="nama_kel"
                      item-value="no_kel"
                      label="Kelurahan"
                      data-vv-name="ayah_kel"
                      required
                      :loading= "loadingKel"
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm12 md12 lg12 xl12 style="padding: 15px;">
                      <v-textarea
                      class="upper"
                      auto-grow
                      v-model="data.ayah_alamat"
                      :rules ="[v => !!v || 'Alamat asal belum diisi']"
                      label="Alamat"
                      hint="Alamat Lengkap"
                      data-vv-name="ayah_alamat"
                      required
                      ></v-textarea>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.ayah_rt"
                      :rules ="[v => !!v || 'Data RT belum diisi']"
                      label="No RT"
                      data-vv-name="ayah_rt"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.ayah_rw"
                      :rules ="[v => !!v || 'Data RW belum diisi']"
                      label="No RW"
                      data-vv-name="ayah_rw"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.kewarganegaraan"
                      :items="kewarganegaraan"
                      item-text="data"
                      item-value="no"
                      :rules ="[v => !!v || 'kewarganegaraan belum dipilih']"
                      label="Kewarganegaraan"
                      data-vv-name="kewarganegaraan"
                      required
                      return-object
                      ></v-select>
                    </v-flex>    
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.kewarganegaraan_ayah"
                        label="Kewarganegaraan (WNA)"
                        data-vv-name="kewarganegaraan_ayah"
                        required
                        ></v-text-field>  
                        </v-flex>                                  
                  </v-layout>

                  <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                    <v-divider></v-divider>
                  <p class="google-font font-italic mb-0" style="font-size:170%;color:#black">Data Pelapor</p>
                    <v-divider></v-divider>
                  </v-flex>

                  <v-layout wrap row>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nik_plpr"
                        :rules ="[v => !!v || 'NIK harus diisi', v => v.length >= 15 || 'NIK kurang dari 16 digit']"

                        :counter="16"
                        label="NIK"
                        data-vv-name="nik"
                        required
                        maxlength="16"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nama_lgkp_plpr"
                        :rules ="[v => !!v || 'Nama lengkap plpr harus diisi', v => !/([!@$%0-9])/.test(v) || 'Format yang anda masukan salah']"

                        label="Nama Lengkap"
                        data-vv-name="nama_lgkp_plpr"
                        required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        v-model="data.tgl_lhr_pelapor"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        label="Tanggal Kelahiran"

                        hint="YYYY-MM-DD"
                        v-mask="'####-##-##'"
                        max-width="290px"
                        min-width="290px"
                        >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                        class="upper"
                        v-model="data.umur_plpr"
                        :rules ="[v => !!v || 'Umur harus diisi', v => v.length >= 3 || 'Umur Lebih dari 16 digit']"

                        :counter="2"
                        label="Umur"
                        data-vv-name="umur_plpr"
                        required
                        maxlength="2"></v-text-field>
                      </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.pekerjaan_plpr"
                      :items="pekerjaan"
                      item-text="pekerjaan"
                      item-value="no"
                      :rules ="[v => !!v || 'Jenis pekerjaan belum dipilih']"
                      label="Pekerjaan"
                      data-vv-name="pekerjaan"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.plpr_prov"
                      :items="provinsi"
                      item-text="nama_prop"
                      item-value="no_prop"
                      :rules ="[v => !!v || 'Provinsi asal belum dipilih']"
                      label="Provinsi"
                      data-vv-name="plpr_prov"
                      required
                      return-object
                      @change="postplprKab"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.plpr_kab"
                      :items="kabupaten"
                      item-text="nama_kab"
                      item-value="no_kab"
                      :rules ="[v => !!v || 'Kabupaten/kota asal belum dipilih']"
                      label="Kab/Kota"
                      data-vv-name="plpr_kab"
                      required
                      :loading= "loadingKab"
                      return-object
                      @change="postplprKec"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.plpr_kec"
                      :items="kecamatan"
                      item-text="nama_kec"
                      item-value="no_kec"
                      :rules ="[v => !!v || 'Kecamatan asal belum dipilih']"
                      label="Kecamatan"
                      data-vv-name="plpr_kec"
                      required
                      :loading= "loadingKec"
                      return-object
                      @change="postplprKel"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.plpr_kel"
                      :items="kelurahan"
                      :rules ="[v => !!v || 'Kelurahan asal belum dipilih']"
                      item-text="nama_kel"
                      item-value="no_kel"
                      label="Kelurahan"
                      data-vv-name="plpr_kel"
                      required
                      :loading= "loadingKel"
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm12 md12 lg12 xl12 style="padding: 15px;">
                      <v-textarea
                      class="upper"
                      auto-grow
                      v-model="data.plpr_alamat"
                      :rules ="[v => !!v || 'Alamat asal belum diisi']"
                      label="Alamat"
                      hint="Alamat Lengkap"
                      data-vv-name="plpr_alamat"
                      required
                      ></v-textarea>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.plpr_rt"
                      :rules ="[v => !!v || 'Data RT belum diisi']"
                      label="No RT"
                      data-vv-name="plpr_rt"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.plpr_rw"
                      :rules ="[v => !!v || 'Data RW belum diisi']"
                      label="No RW"
                      data-vv-name="plpr_rw"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.kewarganegaraan"
                      :items="kewarganegaraan"
                      item-text="data"
                      item-value="no"
                      :rules ="[v => !!v || 'kewarganegaraan belum dipilih']"
                      label="Kewarganegaraan"
                      data-vv-name="kewarganegaraan"
                      required
                      return-object
                      ></v-select>
                    </v-flex>    
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.kewarganegaraan_plpr"
                        label="Kewarganegaraan (WNA)"
                        data-vv-name="kewarganegaraan_plpr"
                        required
                        ></v-text-field>  
                        </v-flex>                                  
                  </v-layout>

                  <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                    <v-divider></v-divider>
                  <p class="google-font font-italic mb-0" style="font-size:170%;color:#black">Data Saksi 1</p>
                    <v-divider></v-divider>
                  </v-flex>

                  <v-layout wrap row>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nik_saksi1"
                        :rules ="[v => !!v || 'NIK harus diisi', v => v.length >= 15 || 'NIK kurang dari 16 digit']"

                        :counter="16"
                        label="NIK"
                        data-vv-name="nik"
                        required
                        maxlength="16"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nama_lgkp_saksi1"
                        :rules ="[v => !!v || 'Nama lengkap saksi1 harus diisi', v => !/([!@$%0-9])/.test(v) || 'Format yang anda masukan salah']"

                        label="Nama Lengkap"
                        data-vv-name="nama_lgkp_saksi1"
                        required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        v-model="data.tgl_lhr_saksi1"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        label="Tanggal Kelahiran"

                        hint="YYYY-MM-DD"
                        v-mask="'####-##-##'"
                        max-width="290px"
                        min-width="290px"
                        >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                        class="upper"
                        v-model="data.umur_saksi1"
                        :rules ="[v => !!v || 'Umur harus diisi', v => v.length >= 3 || 'Umur Lebih dari 16 digit']"

                        :counter="2"
                        label="Umur"
                        data-vv-name="umur_saksi1"
                        required
                        maxlength="2"></v-text-field>
                      </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.pekerjaan_saksi1"
                      :items="pekerjaan"
                      item-text="pekerjaan"
                      item-value="no"
                      :rules ="[v => !!v || 'Jenis pekerjaan belum dipilih']"
                      label="Pekerjaan"
                      data-vv-name="pekerjaan"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.saksi1_prov"
                      :items="provinsi"
                      item-text="nama_prop"
                      item-value="no_prop"
                      :rules ="[v => !!v || 'Provinsi asal belum dipilih']"
                      label="Provinsi"
                      data-vv-name="saksi1_prov"
                      required
                      return-object
                      @change="postsaksi1Kab"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.saksi1_kab"
                      :items="kabupaten"
                      item-text="nama_kab"
                      item-value="no_kab"
                      :rules ="[v => !!v || 'Kabupaten/kota asal belum dipilih']"
                      label="Kab/Kota"
                      data-vv-name="saksi1_kab"
                      required
                      :loading= "loadingKab"
                      return-object
                      @change="postsaksi1Kec"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.saksi1_kec"
                      :items="kecamatan"
                      item-text="nama_kec"
                      item-value="no_kec"
                      :rules ="[v => !!v || 'Kecamatan asal belum dipilih']"
                      label="Kecamatan"
                      data-vv-name="saksi1_kec"
                      required
                      :loading= "loadingKec"
                      return-object
                      @change="postsaksi1Kel"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.saksi1_kel"
                      :items="kelurahan"
                      :rules ="[v => !!v || 'Kelurahan asal belum dipilih']"
                      item-text="nama_kel"
                      item-value="no_kel"
                      label="Kelurahan"
                      data-vv-name="saksi1_kel"
                      required
                      :loading= "loadingKel"
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm12 md12 lg12 xl12 style="padding: 15px;">
                      <v-textarea
                      class="upper"
                      auto-grow
                      v-model="data.saksi1_alamat"
                      :rules ="[v => !!v || 'Alamat asal belum diisi']"
                      label="Alamat"
                      hint="Alamat Lengkap"
                      data-vv-name="saksi1_alamat"
                      required
                      ></v-textarea>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.saksi1_rt"
                      :rules ="[v => !!v || 'Data RT belum diisi']"
                      label="No RT"
                      data-vv-name="saksi1_rt"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.saksi1_rw"
                      :rules ="[v => !!v || 'Data RW belum diisi']"
                      label="No RW"
                      data-vv-name="saksi1_rw"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.kewarganegaraan"
                      :items="kewarganegaraan"
                      item-text="data"
                      item-value="no"
                      :rules ="[v => !!v || 'kewarganegaraan belum dipilih']"
                      label="Kewarganegaraan"
                      data-vv-name="kewarganegaraan"
                      required
                      return-object
                      ></v-select>
                    </v-flex>    
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.kewarganegaraan_saksi1"
                        label="Kewarganegaraan (WNA)"
                        data-vv-name="kewarganegaraan_saksi1"
                        required
                        ></v-text-field>  
                        </v-flex>                                  
                  </v-layout>
                  <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                    <v-divider></v-divider>
                  <p class="google-font font-italic mb-0" style="font-size:170%;color:#black">Data Saksi 2</p>
                    <v-divider></v-divider>
                  </v-flex>

                  <v-layout wrap row>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nik_saksi2"
                        :rules ="[v => !!v || 'NIK harus diisi', v => v.length >= 15 || 'NIK kurang dari 16 digit']"

                        :counter="16"
                        label="NIK"
                        data-vv-name="nik"
                        required
                        maxlength="16"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nama_lgkp_saksi2"
                        :rules ="[v => !!v || 'Nama lengkap saksi2 harus diisi', v => !/([!@$%0-9])/.test(v) || 'Format yang anda masukan salah']"

                        label="Nama Lengkap"
                        data-vv-name="nama_lgkp_saksi2"
                        required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        v-model="data.tgl_lhr_saksi2"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        label="Tanggal Kelahiran"

                        hint="YYYY-MM-DD"
                        v-mask="'####-##-##'"
                        max-width="290px"
                        min-width="290px"
                        >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                        class="upper"
                        v-model="data.umur_saksi2"
                        :rules ="[v => !!v || 'Umur harus diisi', v => v.length >= 3 || 'Umur Lebih dari 16 digit']"

                        :counter="2"
                        label="Umur"
                        data-vv-name="umur_saksi2"
                        required
                        maxlength="2"></v-text-field>
                      </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.pekerjaan_saksi2"
                      :items="pekerjaan"
                      item-text="pekerjaan"
                      item-value="no"
                      :rules ="[v => !!v || 'Jenis pekerjaan belum dipilih']"
                      label="Pekerjaan"
                      data-vv-name="pekerjaan"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.saksi2_prov"
                      :items="provinsi"
                      item-text="nama_prop"
                      item-value="no_prop"
                      :rules ="[v => !!v || 'Provinsi asal belum dipilih']"
                      label="Provinsi"
                      data-vv-name="saksi2_prov"
                      required
                      return-object
                      @change="postsaksi2Kab"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.saksi2_kab"
                      :items="kabupaten"
                      item-text="nama_kab"
                      item-value="no_kab"
                      :rules ="[v => !!v || 'Kabupaten/kota asal belum dipilih']"
                      label="Kab/Kota"
                      data-vv-name="saksi2_kab"
                      required
                      :loading= "loadingKab"
                      return-object
                      @change="postsaksi2Kec"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.saksi2_kec"
                      :items="kecamatan"
                      item-text="nama_kec"
                      item-value="no_kec"
                      :rules ="[v => !!v || 'Kecamatan asal belum dipilih']"
                      label="Kecamatan"
                      data-vv-name="saksi2_kec"
                      required
                      :loading= "loadingKec"
                      return-object
                      @change="postsaksi2Kel"
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.saksi2_kel"
                      :items="kelurahan"
                      :rules ="[v => !!v || 'Kelurahan asal belum dipilih']"
                      item-text="nama_kel"
                      item-value="no_kel"
                      label="Kelurahan"
                      data-vv-name="saksi2_kel"
                      required
                      :loading= "loadingKel"
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm12 md12 lg12 xl12 style="padding: 15px;">
                      <v-textarea
                      class="upper"
                      auto-grow
                      v-model="data.saksi2_alamat"
                      :rules ="[v => !!v || 'Alamat asal belum diisi']"
                      label="Alamat"
                      hint="Alamat Lengkap"
                      data-vv-name="saksi2_alamat"
                      required
                      ></v-textarea>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.saksi2_rt"
                      :rules ="[v => !!v || 'Data RT belum diisi']"
                      label="No RT"
                      data-vv-name="saksi2_rt"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.saksi2_rw"
                      :rules ="[v => !!v || 'Data RW belum diisi']"
                      label="No RW"
                      data-vv-name="saksi2_rw"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.kewarganegaraan"
                      :items="kewarganegaraan"
                      item-text="data"
                      item-value="no"
                      :rules ="[v => !!v || 'kewarganegaraan belum dipilih']"
                      label="Kewarganegaraan"
                      data-vv-name="kewarganegaraan"
                      required
                      return-object
                      ></v-select>
                    </v-flex>    
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.kewarganegaraan_saksi2"
                        label="Kewarganegaraan (WNA)"
                        data-vv-name="kewarganegaraan_saksi2"
                        required
                        ></v-text-field>  
                        </v-flex>                                  
                  </v-layout>

                  <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                    <v-divider></v-divider>
                  <p class="google-font font-italic mb-0" style="font-size:170%;color:#black">Data Administrasi</p>
                    <v-divider></v-divider>
                  </v-flex>                  
                  <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                    <v-checkbox v-model="selected" label="Surat Kelahiran dari Dokter/Bidan/Penolong" value="Surat Kelahiran dari Dokter/Bidan/Penolong"></v-checkbox>
                    <v-checkbox v-model="selected" label="Nama dan Identitas Saksi Kelahiran" value="Nama dan Identitas Saksi Kelahiran"></v-checkbox>
                    <v-checkbox v-model="selected" label="Kartu Keluarga (KK) Orang Tua" value="Kartu Keluarga (KK) Orang Tua"></v-checkbox>
                    <v-checkbox v-model="selected" label="Kartu Tanda Penduduk (KTP) Orang Tua" value="Kartu Tanda Penduduk (KTP) Orang Tua"></v-checkbox>
                    <v-checkbox v-model="selected" label="Kutipan Akta Nikah/Akta Perkawinan Orang Tua" value="Kutipan Akta Nikah/Akta Perkawinan Orang Tua"></v-checkbox>
                    <v-checkbox v-model="selected" label="SPTJM Kebenaran Data Kelahiran" value="SPTJM Kebenaran Data Kelahiran"></v-checkbox>
                    <v-checkbox v-model="selected" label="SPTJM Kebenaran Data Kelahiran" value="SPTJM Kebenaran Sebagai Pasangan Suami-Istri"></v-checkbox>
                  </v-flex>

                  <v-layout align-center justify-center row fill-height wrap>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload1"
                          ref="imgupload1"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload1', 'image1')"
                          />
                          <img
                          v-bind:src="[image1 != '' ? image1 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload1.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Surat Keterangan Kelahiran</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload2"
                          ref="imgupload2"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload2', 'image2')"
                          />
                          <img
                          v-bind:src="[image2 != '' ? image2 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload2.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Kartu Keluarga</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload3"
                          ref="imgupload3"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload3', 'image3')"
                          />
                          <img
                          v-bind:src="[image3 != '' ? image3 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload3.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>KTP-el ibu</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload4"
                          ref="imgupload4"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload4', 'image4')"
                          />
                          <img
                          v-bind:src="[image4 != '' ? image4 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload4.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>KTP-el Ayah</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>

                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload1"
                          ref="imgupload1"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload1', 'image1')"
                          />
                          <img
                          v-bind:src="[image1 != '' ? image1 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload1.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>KTP-el Saksi 1</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload2"
                          ref="imgupload2"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload2', 'image2')"
                          />
                          <img
                          v-bind:src="[image2 != '' ? image2 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload2.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>KTP-el Saksi 2</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload3"
                          ref="imgupload3"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload3', 'image3')"
                          />
                          <img
                          v-bind:src="[image3 != '' ? image3 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload3.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Akta Perkawinan/Buku Nikah Orang tua Hal 1</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload4"
                          ref="imgupload4"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload4', 'image4')"
                          />
                          <img
                          v-bind:src="[image4 != '' ? image4 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload4.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Akta Perkawinan/Buku Nikah Orang tua Hal 2</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>  
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload1"
                          ref="imgupload1"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload1', 'image1')"
                          />
                          <img
                          v-bind:src="[image1 != '' ? image1 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload1.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Akta Perkawinan/Buku Nikah Orang tua Hal 3</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload2"
                          ref="imgupload2"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload2', 'image2')"
                          />
                          <img
                          v-bind:src="[image2 != '' ? image2 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload2.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Dokumen Tambahan 1</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload3"
                          ref="imgupload3"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload3', 'image3')"
                          />
                          <img
                          v-bind:src="[image3 != '' ? image3 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload3.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Dokumen Tambahan 2</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                  </v-layout>


                  <v-layout wrap row>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.telepon"
                      :rules ="[v => !!v || 'Silahkan isi nomor Telepon',v => !/([!@$%a-z])/.test(v) || 'Format yang anda masukan salah']"
                      label="No Telepon"
                      data-vv-name="telepon"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.email"
                      :rules ="[v => !!v || 'Silahkan Isi Email',v => /.+@.+/.test(v) || 'Format Email Salah' ]"
                      label="Alamat e-mail"
                      data-vv-as="email"
                      data-vv-name="email"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <div v-if ="data.nik">NIK : {{ data.nik }}</div>
                      <div v-if ="data.nama_lgkp">Nama Lengkap : {{ data.nama_lgkp.toUpperCase() }}</div>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">

                      <v-layout row wrap>
                        <v-flex xs12 sm12 md6 lg6 xl6>


                        </v-flex>
                      </v-layout>


                      <v-layout row wrap>
                        <v-flex xs12 sm12 md6 lg6 xl6>
                          <div class="tab" v-if ="data.kab">
                            Kab/Kota : KOTA BANDUNG
                          </div>
                          <div class="tab" v-if ="data.prov">
                            Provinsi : JAWA BARAT
                          </div>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                  <v-layout justify-center>
                    <v-btn depressed class="ma-1" @click="e1 = 4"> Sebelumnya</v-btn>
                    <v-btn
                    class="ma-1"
                    color="primary"
                    @click="dialog = true">
                    Daftar
                  </v-btn>
                </v-layout>
                <v-layout justify-center>
                  <v-dialog v-model="dialog" persistent max-width="290">
                    <v-card>
                      <v-card-title class="headline">Lanjutkan pendaftaran?</v-card-title>
                      <v-card-text>Pastikan inputan yang anda masukan sudah benar.</v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1"  @click="dialog = false; loading= false">Batal</v-btn>
                        <v-btn color="green darken-1"  :loading="loading" :disabled="loading" @click="submit">Daftar</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-layout>
                <v-layout justify-center>
                  <v-dialog v-model="dialogSukses" persistent max-width="290">
                    <v-card>
                      <v-card-title class="headline">Sukses!</v-card-title>
                      <v-card-text>Pendaftaran berhasil, silahkan Cek status pengajuan anda</v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1"  to="/monitoring/monitoring">Cek</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-layout>
            </form>
  </v-flex>
</v-layout>

<v-snackbar
v-model="snackbar"
color="error"
:bottom="y === 'bottom'"
:left="x === 'left'"
:multi-line="mode === 'multi-line'"
:right="x === 'right'"
:top="y === 'top'"
:vertical="mode === 'vertical'"
:timeout="timeout"
>
{{ text }}
<v-btn color="error"

@click="snackbar = false"
>
Tutup
</v-btn>
</v-snackbar>
</v-card>
</v-container>
</template>

<script>
import { localize } from 'vee-validate/dist/vee-validate.full';
import id from "vee-validate/dist/locale/id.json";
// import { ValidationProvider } from 'vee-validate';

export default {
//   $_veeValidate: {
//     validator: 'new'
//   },
//   components: {
//   ValidationProvider
// },

  data() {
    return {
      data : {
        nik: '',
        nama_lgkp: '',
        tmpt_lhr: '',
        tgl_lhr: '',
        jenis_klmin: null,
        agama: null,
        stat_kwn: null,
        gol_drh: null,
        pendidikan: null,
        pekerjaan: null,
        src_prov: null,
        src_kab: null,
        src_kec: null,
        src_kel: null,
        src_alamat: '',
        src_rt: '',
        src_rw: '',
        prov: 32,
        kab: 73,
        kec: null,
        kel: null,
        alamat: '',
        rt: '',
        rw: '',
        telepon: '',
        email: ''
      },
      cekData : {
        nik: '',
      },
      jenis_klmin: [
        { no: 1, data: '1 - LAKI-LAKI' },
        { no: 2, data: '2 - PEREMPUAN' }
      ],
      tmpt_dlhr: [
        { no: 1, data: '1 - RUMAH SAKIT/BERSALIN' },
        { no: 2, data: '2 - PUSKESMAS' },
        { no: 3, data: '3 - POLINDES' },
        { no: 4, data: '4 - RUMAH' },
        { no: 5, data: '5 - LAINNYA' }
      ],
      jenis_kelahiran: [
        { no: 1, data: '1 - TUNGGAL' },
        { no: 2, data: '2 - KEMBAR DUA' },
        { no: 3, data: '3 - KEMBAR TIGA' },
        { no: 4, data: '4 - KEMBAR EMPAT' },
        { no: 5, data: '5 - KEMBAR BANYAK/LAINNYA' }
      ],      
      penolong_kelahiran: [
        { no: 1, data: '1 - DOKTER' },
        { no: 2, data: '2 - BIDAN/PERAWAT' },
        { no: 3, data: '3 - DUKUN' },
        { no: 4, data: '4 - LAINNYA' }
      ],      
      kewarganegaraan: [
        { no: 1, data: '1 - WARGA NEGARA INDONESIA' },
        { no: 2, data: '2 - WARGA NEGARA ASING' }
      ],
      agama: [],
      stat_kwn: [],
      gol_drh: [],
      pendidikan: [],
      pekerjaan: [],
      provinsi: [],
      kabupaten: [],
      kecamatan: [],
      kelurahan: [],
      destKecamatan: [],
      destKelurahan: [],
      dictionary: {
        id:{
        fields: {
          nik: {
            required: () => 'NIK tidak boleh kosong',
            digits: 'Masukan 16-digit angka',
            numeric: 'Karakter tidak valid'
          },
          nama_lgkp: {
            required: 'Nama tidak boleh kosong',
            alpha_spaces: 'Inputan tidak valid',
            min: 'Minimal 2 karakter'
          },
          tmpt_lhr: {
            required: 'Tempat lahir tidak boleh kosong',
            alpha_spaces: 'Inputan tidak valid',
            min: 'Minimal 2 karakter'
          },
          tgl_lhr: {
            required: 'Tanggal lahir tidak boleh kosong',
            date_format: 'Inputan tidak valid (Hari/Bulan/Tahun)'
          },
          jenis_klmin: {
            required: 'Pilih jenis kelamin'
          },
          agama: {
            required: 'Pilih Agama'
          },
          stat_kwn: {
            required: 'Pilih satus perkawinan'
          },
          gol_drh: {
            required: 'Pilih golongan darah'
          },
          pendidikan: {
            required: 'Pilih pendidikan'
          },
          pekerjaan: {
            required: 'Pilih jenis pekerjaan'
          },
          src_prov: {
            required: 'Pilih provinsi asal'
          },
          src_kab: {
            required: 'Pilih kab/kota asal'
          },
          src_kec: {
            required: 'Pilih kecamatan asal'
          },
          src_kel: {
            required: 'Pilih kelurahan asal'
          },
          src_alamat: {
            required: 'Alamat asal tidak boleh kosong',
            min: 'Minimal 2 karakter'
          },
          src_rt: {
            required: 'Nomor RT tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          src_rw: {
            required: 'Nomor RW tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          kec: {
            required: 'Pilih kecamatan saat ini'
          },
          kel: {
            required: 'Pilih kelurahan saat ini'
          },
          alamat: {
            required: 'Alamat saat ini tidak boleh kosong',
            min: 'Minimal 2 karakter'
          },
          rt: {
            required: 'Nomor RT tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          rw: {
            required: 'Nomor RW tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          telepon: {
            required: 'Telepon tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          email: {
            required: 'Email tidak boleh kosong',
            email: 'Format email tidak valid'
          },
          // password: {
          //   required: 'Password tidak boleh kosong',
          //   min: 'Password minimal 6 karakter'
          // },
          // konfirmasi_password: {
          //   required: 'Konfirmasi password tidak boleh kosong',
          //   confirmed: 'Konfirmasi password tidak sama'
          // },
        }
      }
      },
      selected: [],
      eventsData:[],
      showLoader: true,
      showData:false,
      errorMsg:'',
      errorAlert:false,
      notFoundPastEventFlag:false,

      e1: 0,
      name: '',
      email: '',
      select: null,
      checkbox: false,
      date: null,
      dateFormatted: null,
      menu1: false,
      menu2: false,

      imgupload1: null,
      imgupload2: null,
      imgupload3: null,
      imgupload4: null,
      image1: "",
      image2: "",
      image3: "",
      image4: "",
      snackbar: false,
      y: 'top',
      x: null,
      mode: '',
      timeout: 6000,
      text: 'error',
      loading: false,
      loadingKab : false,
      loadingKec : false,
      loadingKel : false,
      loadingDestKel : false,
      // showPassword: false,
      dialog: false,
      dialogSukses: false,
    }
  },
  computed: {
  },
  watch: {
    date (val) {
      this.dateFormatted = this.formatDate(this.date)
    },
  },
  created(){
    this.postData();
  },
  mounted () {
    localize('id', this.dictionary)
    try {
      const jsonAuthUser = JSON.parse(localStorage.authUserEpunten);
      this.authUser = jsonAuthUser;
      this.permissionUser = JSON.stringify(localStorage.permissionEpunten);
    } catch (e) {
    } finally {
    }
    this.data.nik = this.authUser.nik
    this.data.nama_lgkp = this.authUser.name
    this.data.email = this.authUser.email
    this.data.telepon = this.authUser.telepon
  },

  methods:{
    handleFileUpload(source, image) {
      this[source + ""] = this.$refs[source].files[0];
      var fsize = this[source + ""].size;
      fsize += Math.round(fsize / 1024);
      if (fsize > 2097152) {
        this.text = "Ukuran gambar tidak boleh lebih dari 2MB."
        this.snackbar = true
        return false;
      }

      let reader = new FileReader();
      reader.addEventListener(
        "load",
        function() {
          this[image + ""] = reader.result;
        }.bind(this),
        false
      );
      if (this[source + ""]) {
        if (/\.(jpe?g|png|gif)$/i.test(this[source + ""].name)) {
          reader.readAsDataURL(this[source + ""]);
        }else{
          return false;
        }
      }
    },
    postData() {
      axios.post("/ektp")
      .then(response => {
        this.agama = response.data.agama;
        this.stat_kwn = response.data.stat_kwn;
        this.gol_drh = response.data.gol_drh;
        this.pendidikan = response.data.pendidikan;
        this.pekerjaan = response.data.pekerjaan;
        this.provinsi = response.data.prov;
        this.destKecamatan = response.data.kecamatan;
      })
      .catch(error => {

      });
    },
    postKab() {
      this.loadingKab = true
      axios.post("/ektp-kab", {no_prop: this.data.src_prov.no_prop })
      .then(response => {
        this.kabupaten = response.data.kabupaten;
        this.loadingKab = false
      })
      .catch(error => {
        this.loadingKab = false
      });
    },
    postKec() {
      this.loadingKec = true
      axios.post("/ektp-kec", {no_prop: this.data.src_prov.no_prop, no_kab: this.data.src_kab.no_kab })
      .then(response => {
        this.kecamatan = response.data.kecamatan;
        this.loadingKec = false
      })
      .catch(error => {
        this.loadingKec = false
      });
    },
    postKel() {
      this.loadingKel = true
      axios.post("/ektp-kel", {no_prop: this.data.src_prov.no_prop, no_kab: this.data.src_kab.no_kab, no_kec: this.data.src_kec.no_kec })
      .then(response => {
        this.kelurahan = response.data.kelurahan;
        this.loadingKel = false
      })
      .catch(error => {
        this.loadingKel = false
      });
    },
    postDestKel() {
      this.loadingDestKel = true
      axios.post("/ektp-dest-kel", {prov: this.data.prov, kab: this.data.kab, no_kec: this.data.kec.no_kec })
      .then(response => {
        this.destKelurahan = response.data.kelurahan;
        this.loadingDestKel = false
      })
      .catch(error => {
        this.loadingDestKel = false
      });
    },


        postkkKab() {
      this.loadingKab = true
      axios.post("/ektp-kab", {no_prop: this.data.kk_prov.no_prop })
      .then(response => {
        this.kabupaten = response.data.kabupaten;
        this.loadingKab = false
      })
      .catch(error => {
        this.loadingKab = false
      });
    },
    postkkKec() {
      this.loadingKec = true
      axios.post("/ektp-kec", {no_prop: this.data.kk_prov.no_prop, no_kab: this.data.kk_kab.no_kab })
      .then(response => {
        this.kecamatan = response.data.kecamatan;
        this.loadingKec = false
      })
      .catch(error => {
        this.loadingKec = false
      });
    },
    postkkKel() {
      this.loadingKel = true
      axios.post("/ektp-kel", {no_prop: this.data.kk_prov.no_prop, no_kab: this.data.kk_kab.no_kab, no_kec: this.data.kk_kec.no_kec })
      .then(response => {
        this.kelurahan = response.data.kelurahan;
        this.loadingKel = false
      })
      .catch(error => {
        this.loadingKel = false
      });
    },

        postibuKab() {
      this.loadingKab = true
      axios.post("/ektp-kab", {no_prop: this.data.ibu_prov.no_prop })
      .then(response => {
        this.kabupaten = response.data.kabupaten;
        this.loadingKab = false
      })
      .catch(error => {
        this.loadingKab = false
      });
    },
    postibuKec() {
      this.loadingKec = true
      axios.post("/ektp-kec", {no_prop: this.data.ibu_prov.no_prop, no_kab: this.data.ibu_kab.no_kab })
      .then(response => {
        this.kecamatan = response.data.kecamatan;
        this.loadingKec = false
      })
      .catch(error => {
        this.loadingKec = false
      });
    },
    postibuKel() {
      this.loadingKel = true
      axios.post("/ektp-kel", {no_prop: this.data.ibu_prov.no_prop, no_kab: this.data.ibu_kab.no_kab, no_kec: this.data.ibu_kec.no_kec })
      .then(response => {
        this.kelurahan = response.data.kelurahan;
        this.loadingKel = false
      })
      .catch(error => {
        this.loadingKel = false
      });
    },

        postayahKab() {
      this.loadingKab = true
      axios.post("/ektp-kab", {no_prop: this.data.ayah_prov.no_prop })
      .then(response => {
        this.kabupaten = response.data.kabupaten;
        this.loadingKab = false
      })
      .catch(error => {
        this.loadingKab = false
      });
    },
    postayahKec() {
      this.loadingKec = true
      axios.post("/ektp-kec", {no_prop: this.data.ayah_prov.no_prop, no_kab: this.data.ayah_kab.no_kab })
      .then(response => {
        this.kecamatan = response.data.kecamatan;
        this.loadingKec = false
      })
      .catch(error => {
        this.loadingKec = false
      });
    },
    postayahKel() {
      this.loadingKel = true
      axios.post("/ektp-kel", {no_prop: this.data.ayah_prov.no_prop, no_kab: this.data.ayah_kab.no_kab, no_kec: this.data.ayah_kec.no_kec })
      .then(response => {
        this.kelurahan = response.data.kelurahan;
        this.loadingKel = false
      })
      .catch(error => {
        this.loadingKel = false
      });
    },

            postplprKab() {
      this.loadingKab = true
      axios.post("/ektp-kab", {no_prop: this.data.plpr_prov.no_prop })
      .then(response => {
        this.kabupaten = response.data.kabupaten;
        this.loadingKab = false
      })
      .catch(error => {
        this.loadingKab = false
      });
    },
    postplprKec() {
      this.loadingKec = true
      axios.post("/ektp-kec", {no_prop: this.data.plpr_prov.no_prop, no_kab: this.data.plpr_kab.no_kab })
      .then(response => {
        this.kecamatan = response.data.kecamatan;
        this.loadingKec = false
      })
      .catch(error => {
        this.loadingKec = false
      });
    },
    postplprKel() {
      this.loadingKel = true
      axios.post("/ektp-kel", {no_prop: this.data.plpr_prov.no_prop, no_kab: this.data.plpr_kab.no_kab, no_kec: this.data.plpr_kec.no_kec })
      .then(response => {
        this.kelurahan = response.data.kelurahan;
        this.loadingKel = false
      })
      .catch(error => {
        this.loadingKel = false
      });
    },

            postsaksi1Kab() {
      this.loadingKab = true
      axios.post("/ektp-kab", {no_prop: this.data.saksi1_prov.no_prop })
      .then(response => {
        this.kabupaten = response.data.kabupaten;
        this.loadingKab = false
      })
      .catch(error => {
        this.loadingKab = false
      });
    },
    postsaksi1Kec() {
      this.loadingKec = true
      axios.post("/ektp-kec", {no_prop: this.data.saksi1_prov.no_prop, no_kab: this.data.saksi1_kab.no_kab })
      .then(response => {
        this.kecamatan = response.data.kecamatan;
        this.loadingKec = false
      })
      .catch(error => {
        this.loadingKec = false
      });
    },
    postsaksi1Kel() {
      this.loadingKel = true
      axios.post("/ektp-kel", {no_prop: this.data.saksi1_prov.no_prop, no_kab: this.data.saksi1_kab.no_kab, no_kec: this.data.saksi1_kec.no_kec })
      .then(response => {
        this.kelurahan = response.data.kelurahan;
        this.loadingKel = false
      })
      .catch(error => {
        this.loadingKel = false
      });
    },

            postsaksi2Kab() {
      this.loadingKab = true
      axios.post("/ektp-kab", {no_prop: this.data.saksi2_prov.no_prop })
      .then(response => {
        this.kabupaten = response.data.kabupaten;
        this.loadingKab = false
      })
      .catch(error => {
        this.loadingKab = false
      });
    },
    postsaksi2Kec() {
      this.loadingKec = true
      axios.post("/ektp-kec", {no_prop: this.data.saksi2_prov.no_prop, no_kab: this.data.saksi2_kab.no_kab })
      .then(response => {
        this.kecamatan = response.data.kecamatan;
        this.loadingKec = false
      })
      .catch(error => {
        this.loadingKec = false
      });
    },
    postsaksi2Kel() {
      this.loadingKel = true
      axios.post("/ektp-kel", {no_prop: this.data.saksi2_prov.no_prop, no_kab: this.data.saksi2_kab.no_kab, no_kec: this.data.saksi2_kec.no_kec })
      .then(response => {
        this.kelurahan = response.data.kelurahan;
        this.loadingKel = false
      })
      .catch(error => {
        this.loadingKel = false
      });
    },


    async submit () {
      this.loading = true
                this.loading = false
                this.dialog = false
                this.dialog = false
                this.dialogSukses = true
      
    },
    clear () {
      this.name = ''
      this.email = ''
      this.select = null
      this.checkbox = null
      this.$validator.reset()
    },
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    parseDate (date) {
      if (!date) return null

      const [day, month, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    }
  },
};
</script>

<style scoped>

</style>
<style>
.upper input {
  text-transform: uppercase;
}
.upper textarea {
  text-transform: uppercase;
}
.berkas {
  width: 100%;
  height: 200px;
  display: block;
  cursor: pointer;
}
.tab {
  margin-left: 20px;
}
</style>