<template>
  <v-container>
    <v-card>
    <v-layout wrap align-center justify-center row fill-height class="mx-4 mb-4"  >
      <v-flex xs12 sm12 md12 lg12 xl12 class="text-xs-center pa-1">
        <p class="google-font mb-0" style="font-size:220%;color:#black"><img src="https://disdukcapil.bandung.go.id/api/public/assets/LayananWna.png" width = '80px' height = '80px'>   Registration Form for Limited Stay Foreigner (SKTT/SKSKP)</p>
        <br>
      </v-flex>
    </v-layout>

    <v-layout wrap row class="mx-4 mb-4">
      <v-flex xs12>
                <form>
                    <v-layout wrap row>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        disabled
                        class="upper"
                        v-model="data.nik"
                        :rules ="[v => !!v || 'NIK field should not be empty', v => v.length >= 15 || 'NIK field less than 16 digit']"

                        :counter="16"
                        label="Number of Population Identity (NIK)"
                        data-vv-name="nik"
                        required
                        maxlength="16"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.nama_lgkp"
                        
                        :rules ="[v => !!v || 'Please fill out full name', v => !/([!@$%0-9])/.test(v) || 'Unrecognized format']"

                        label="Full Name"
                        data-vv-name="nama_lgkp"
                        required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.tmpt_lhr"
                        
                        :rules ="[v => !!v || 'Place of Birth field should not be empty', v => !/([!@$%])/.test(v) || 'Unrecognized format']"
                        label="Place of Birth"
                        data-vv-name="tmpt_lhr"
                        required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        v-model="data.tgl_lhr"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        label="Date Of Birth"

                        hint="YYYY-MM-DD"
                        v-mask="'####-##-##'"
                        max-width="290px"
                        min-width="290px"
                        >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.jenis_klmin"
                      
                      :items="jenis_klmin"
                      :rules ="[v => !!v || 'Pick One']"
                      item-text="data"
                      item-value="no"

                      label="Gender"
                      data-vv-name="jenis_klmin"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-autocomplete
                      v-model="data.negara"
                     
                      :option="descrip"
                      :items="negara"
                      item-text="descrip"
                      item-value="kode_num"
                      :rules ="[v => !!v || 'Please choose your Nationality']"
                      label="Nationality"
                      data-vv-name="KWRNGRN"
                      @change="postOccupation"
                      required
                      return-object
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.occupation"
                      
                      :items="occupation"
                      item-text="descrip"
                      item-value="no"
                      :rules ="[v => !!v || 'Jenis pekerjaan belum dipilih']"
                      label="Occupation"
                      data-vv-name="occupation"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.no_paspor"
                       
                        :rules ="[v => !!v || 'Please fill out this field']"

                        label="Pasport Number"
                        data-vv-name="no_paspor"
                        required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        ref="tgl_paspor"
                        v-model="data.tgl_paspor"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        label="Issued Date Of Passport"
                        hint="YYYY/MM/DD"
                        v-mask="'####-##-##'"
                        max-width="290px"
                        min-width="290px"
                        >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        ref="tgl_akh_paspor"
                        v-model="data.tgl_akh_paspor"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        label="Expired Date Of Passport"
                        hint="YYYY/MM/DD"
                        v-mask="'####-##-##'"
                        max-width="290px"
                        min-width="290px"
                        >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-select
                      v-model="data.no_doc"
                      
                      :items="jenis_doc"
                      :rules ="[v => !!v || 'Pick One']"
                      item-text="data"
                      item-value="no"

                      label="Type Of Document"
                      data-vv-name="no_doc"
                      required
                      return-object
                      ></v-select>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        class="upper"
                        v-model="data.doc_imigrasi"
                        
                        :rules ="[v => !!v || 'Please fill out this Field']"

                        label="Temporary Stay / Resident Permit Card (KITAS) Number"
                        data-vv-name="doc_imigrasi"
                        required
                        ></v-text-field>
                      </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        ref="tgl_doc_imigrasi"
                        v-model="data.tgl_doc_imigrasi"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        label="Issued Date of KITAS"
                        hint="YYYY/MM/DD"
                        v-mask="'####-##-##'"
                        max-width="290px"
                        min-width="290px"
                        >
                      </v-text-field>
                    </v-flex>
                      <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                        <v-text-field
                        ref="tgl_permitted"
                        v-model="data.tgl_permitted"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        label="Permitted to Stay in Indonesia Until"
                        hint="YYYY/MM/DD"
                        v-mask="'####-##-##'"
                        max-width="290px"
                        min-width="290px"
                        >
                      </v-text-field>
                    </v-flex>
                  </v-layout>

                  <v-layout align-center justify-center row fill-height wrap>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload1"
                          ref="imgupload1"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload1', 'image1')"
                          />
                          <img
                          v-bind:src="[image1 != '' ? image1 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload1.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Photo Of Passport Size</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload2"
                          ref="imgupload2"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload2', 'image2')"
                          />
                          <img
                          v-bind:src="[image2 != '' ? image2 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload2.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>First Page of Passport Scan</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload3"
                          ref="imgupload3"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload3', 'image3')"
                          />
                          <img
                          v-bind:src="[image3 != '' ? image3 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload3.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Limited Stay Page of Passport Scan</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload4"
                          ref="imgupload4"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload4', 'image4')"
                          />
                          <img
                          v-bind:src="[image4 != '' ? image4 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload4.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Certificate of Police Registration Scan</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                  </v-layout>
                  <v-layout align-center justify-center row fill-height wrap>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload5"
                          ref="imgupload5"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload5', 'image5')"
                          />
                          <img
                          v-bind:src="[image5 != '' ? image5 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload5.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Certificate of Guarantor / Marriage or Birth Certificate</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload6"
                          ref="imgupload6"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload6', 'image6')"
                          />
                          <img
                          v-bind:src="[image6 != '' ? image6 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload6.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>Domicile Certificate of Village Scan</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm3 md3 lg3 xl3 style="padding: 15px;">
                      <v-card>
                        <div class="form-group">
                          <input
                          type="file"
                          id="imgupload7"
                          ref="imgupload7"
                          accept="image/*"
                          style="display: none;"
                          v-on:change="handleFileUpload('imgupload7', 'image7')"
                          />
                          <img
                          v-bind:src="[image7 != '' ? image7 : 'https://disdukcapil.bandung.go.id/api-epunten/public/assets/img/no_img.png']"
                          class="berkas"
                          @click="$refs.imgupload7.click()"
                          />
                        </div>
                        <v-card-title>
                          <div class="text-center">
                            <div>KITAS / KITAP Scan</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                  </v-layout>


                  <v-layout wrap row>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.telepon"
                    
                      :rules ="[v => !!v || 'Silahkan isi nomor Telepon',v => !/([!@$%a-z])/.test(v) || 'Format yang anda masukan salah']"
                      label="No Telepon"
                      data-vv-name="telepon"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <v-text-field
                      v-model="data.email"
                    
                      :rules ="[v => !!v || 'Silahkan Isi Email',v => /.+@.+/.test(v) || 'Format Email Salah' ]"
                      label="Alamat e-mail"
                      data-vv-as="email"
                      data-vv-name="email"
                      required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <div v-if ="data.nik">NIK : {{ data.nik }}</div>
                      <div v-if ="data.nama_lgkp">Full Name : {{ data.nama_lgkp.toUpperCase() }}</div>
                      <div v-if ="data.tmpt_lhr && data.tgl_lhr">Place/Date Of Birth : {{ data.tmpt_lhr.toUpperCase() }}, {{ data.tgl_lhr }}</div>
                      <div v-if ="data.jenis_klmin">Sex : {{ data.jenis_klmin.data.replace(/[0-9'())-]/g, '') }}</div>
                      <div v-if ="data.occupation">Occupation : {{ data.occupation.descrip }}</div>
                      <div v-if ="data.negara">Nationality : {{ data.negara.descrip }}</div>
                    </v-flex>
                    <v-flex xs12 sm6 md6 lg6 xl6 style="padding: 15px;">
                      <div v-if ="data.no_paspor">Passort Number : {{ data.no_paspor }}</div>
                      <div v-if ="data.tgl_paspor">Issued Date of Passport : {{ data.tgl_paspor }}</div>
                      <div v-if ="data.tgl_akh_paspor">Expired Date Of Passport : {{ data.tgl_akh_paspor }}</div>
                      <div v-if ="data.doc_imigrasi">(KITAS) Number : {{ data.doc_imigrasi }}</div>
                      <div v-if ="data.tgl_doc_imigrasi">Issued Date of KITAS : {{ data.tgl_doc_imigrasi }}</div>
                      <div v-if ="data.tgl_permitted">Permitted To Stay Until : {{ data.tgl_permitted }}</div>
                      <v-layout row wrap>
<!--                         <v-flex xs12 sm12 md6 lg6 xl6>
                          <div class="tab" v-if ="data.kel">
                            Kelurahan : {{ data.kel.nama_kel.replace(/[0-9'())]/g, '') }}
                          </div>
                          <div class="tab" v-if ="data.kec">
                            Kecamatan : {{ data.kec.nama_kec.replace(/[0-9'())]/g, '') }}
                          </div>
                        </v-flex> -->
                        <v-flex xs12 sm12 md6 lg6 xl6>
                          <div class="tab" v-if ="data.kab">
                            Kab/Kota : KOTA BANDUNG
                          </div>
                          <div class="tab" v-if ="data.prov">
                            Provinsi : JAWA BARAT
                          </div>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                  <v-layout justify-center>
                    <v-btn depressed class="ma-1" @click="e1 = 4"> Sebelumnya</v-btn>
                    <v-btn
                    class="ma-1"
                    color="primary"
                    @click="dialog = true">
                    Daftar
                  </v-btn>
                </v-layout>
                <v-layout justify-center>
                  <v-dialog v-model="dialog" persistent max-width="290">
                    <v-card>
                      <v-card-title class="headline">Lanjutkan pendaftaran?</v-card-title>
                      <v-card-text>Pastikan inputan yang anda masukan sudah benar.</v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1"  @click="dialog = false">Batal</v-btn>
                        <v-btn color="green darken-1"  :loading="loading" :disabled="loading" @click="submit">Daftar</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-layout>
                <v-layout justify-center>
                  <v-dialog v-model="dialogSukses" persistent max-width="290">
                    <v-card>
                      <v-card-title class="headline">Sukses!</v-card-title>
                      <v-card-text>Pendaftaran berhasil, silahkan Cek status pengajuan anda</v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1"  to="/monitoring/monitoring">Cek</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-layout>
            </form>
  </v-flex>
</v-layout>

<v-snackbar
v-model="snackbar"
color="error"
:bottom="y === 'bottom'"
:left="x === 'left'"
:multi-line="mode === 'multi-line'"
:right="x === 'right'"
:top="y === 'top'"
:vertical="mode === 'vertical'"
:timeout="timeout"
>
{{ text }}
<v-btn color="error"

@click="snackbar = false"
>
Tutup
</v-btn>
</v-snackbar>
</v-card>
</v-container>
</template>

<script>
import { localize } from 'vee-validate/dist/vee-validate.full';
import id from "vee-validate/dist/locale/id.json";
// import { ValidationProvider } from 'vee-validate';

export default {
//   $_veeValidate: {
//     validator: 'new'
//   },
//   components: {
//   ValidationProvider
// },


  data() {
    return {
      data : {
        nik: '',
        nama_lgkp: '',
        tmpt_lhr: '',
        tgl_lhr: '',
        descrip: '',
        jenis_klmin: null,
        jenis_doc: null,
        agama: null,
        stat_kwn: null,
        gol_drh: null,
        pendidikan: null,
        pekerjaan: null,
        src_prov: null,
        src_kab: null,
        src_kec: null,
        src_kel: null,
        src_alamat: '',
        src_rt: '',
        src_rw: '',
        prov: 32,
        kab: 73,
        kec: null,
        kel: null,
        alamat: '',
        rt: '',
        rw: '',
        telepon: '',
        email: ''
      },
      cekData : {
        nik: '',
      },
      jenis_klmin: [
        { no: 1, data: '1 - MALE' },
        { no: 2, data: '2 - FEMALE' }
      ],
      jenis_doc: [
        { no: 1, data: '1 - KITAS' },
        { no: 2, data: '2 - KITAP' }
      ],
      agama: [],
      negara: [],
      occupation: [],
      stat_kwn: [],
      gol_drh: [],
      pendidikan: [],
      pekerjaan: [],
      provinsi: [],
      kabupaten: [],
      kecamatan: [],
      kelurahan: [],
      destKecamatan: [],
      destKelurahan: [],
      dictionary: {
        id:{
        fields: {
          nik: {
            required: () => 'NIK tidak boleh kosong',
            digits: 'Masukan 16-digit angka',
            numeric: 'Karakter tidak valid'
          },
          nama_lgkp: {
            required: 'Nama tidak boleh kosong',
            alpha_spaces: 'Inputan tidak valid',
            min: 'Minimal 2 karakter'
          },
          tmpt_lhr: {
            required: 'Tempat lahir tidak boleh kosong',
            alpha_spaces: 'Inputan tidak valid',
            min: 'Minimal 2 karakter'
          },
          tgl_lhr: {
            required: 'Tanggal lahir tidak boleh kosong',
            date_format: 'Inputan tidak valid (Hari/Bulan/Tahun)'
          },
          jenis_klmin: {
            required: 'Pilih jenis kelamin'
          },
          agama: {
            required: 'Pilih Agama'
          },
          stat_kwn: {
            required: 'Pilih satus perkawinan'
          },
          gol_drh: {
            required: 'Pilih golongan darah'
          },
          pendidikan: {
            required: 'Pilih pendidikan'
          },
          pekerjaan: {
            required: 'Pilih jenis pekerjaan'
          },
          src_prov: {
            required: 'Pilih provinsi asal'
          },
          src_kab: {
            required: 'Pilih kab/kota asal'
          },
          src_kec: {
            required: 'Pilih kecamatan asal'
          },
          src_kel: {
            required: 'Pilih kelurahan asal'
          },
          src_alamat: {
            required: 'Alamat asal tidak boleh kosong',
            min: 'Minimal 2 karakter'
          },
          src_rt: {
            required: 'Nomor RT tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          src_rw: {
            required: 'Nomor RW tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          kec: {
            required: 'Pilih kecamatan saat ini'
          },
          kel: {
            required: 'Pilih kelurahan saat ini'
          },
          alamat: {
            required: 'Alamat saat ini tidak boleh kosong',
            min: 'Minimal 2 karakter'
          },
          rt: {
            required: 'Nomor RT tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          rw: {
            required: 'Nomor RW tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          telepon: {
            required: 'Telepon tidak boleh kosong',
            numeric: 'Karakter tidak valid'
          },
          email: {
            required: 'Email tidak boleh kosong',
            email: 'Format email tidak valid'
          },
          // password: {
          //   required: 'Password tidak boleh kosong',
          //   min: 'Password minimal 6 karakter'
          // },
          // konfirmasi_password: {
          //   required: 'Konfirmasi password tidak boleh kosong',
          //   confirmed: 'Konfirmasi password tidak sama'
          // },
        }
      }
      },
      eventsData:[],
      showLoader: true,
      showData:false,
      errorMsg:'',
      errorAlert:false,
      notFoundPastEventFlag:false,

      e1: 0,
      name: '',
      email: '',
      select: null,
      checkbox: false,
      date: null,
      date2: null,
      dateFormatted: null,
      dateFormatted2: null,
      parseDate: null,
      menu1: false,
      menu2: false,
      descrip: null,

      imgupload1: null,
      imgupload2: null,
      imgupload3: null,
      imgupload4: null,
      imgupload5: null,
      imgupload6: null,
      imgupload7: null,
      image1: "",
      image2: "",
      image3: "",
      image4: "",
      image5: "",
      image6: "",
      image7: "",
      snackbar: false,
      y: 'top',
      x: null,
      mode: '',
      timeout: 6000,
      text: 'error',
      loading: false,
      loadingKab : false,
      loadingKec : false,
      loadingKel : false,
      loadingDestKel : false,
      loadingNegara : false,
      loadingOccupation : false,
      // showPassword: false,
      dialog: false,
      dialogSukses: false,
    }
  },
  computed: {
  },

  created(){
    this.postData();
    this.postNegara();
  },
  mounted () {
    localize('id', this.dictionary)
    try {
      const jsonAuthUser = JSON.parse(localStorage.authUserEpunten);
      this.authUser = jsonAuthUser;
      this.permissionUser = JSON.stringify(localStorage.permissionEpunten);
    } catch (e) {
    } finally {
    }
    this.data.nik = this.authUser.nik
    this.data.nama_lgkp = this.authUser.name
    this.data.email = this.authUser.email
    this.data.telepon = this.authUser.telepon

  },

  methods:{
    handleFileUpload(source, image) {
      this[source + ""] = this.$refs[source].files[0];
      var fsize = this[source + ""].size;
      fsize += Math.round(fsize / 1024);
      if (fsize > 2097152) {
        this.text = "Ukuran gambar tidak boleh lebih dari 2MB."
        this.snackbar = true
        return false;
      }

      let reader = new FileReader();
      reader.addEventListener(
        "load",
        function() {
          this[image + ""] = reader.result;
        }.bind(this),
        false
      );
      if (this[source + ""]) {
        if (/\.(jpe?g|png|gif)$/i.test(this[source + ""].name)) {
          reader.readAsDataURL(this[source + ""]);
        }else{
          return false;
        }
      }
    },
    postData() {
      axios.post("/ektp")
      .then(response => {
        this.agama = response.data.agama;
        this.stat_kwn = response.data.stat_kwn;
        this.gol_drh = response.data.gol_drh;
        this.pendidikan = response.data.pendidikan;
        this.pekerjaan = response.data.pekerjaan;
        this.provinsi = response.data.prov;
        this.destKecamatan = response.data.kecamatan;
      })
      .catch(error => {

      });
    },
    postKab() {
      this.loadingKab = true
      axios.post("/ektp-kab", {no_prop: this.data.src_prov.no_prop })
      .then(response => {
        this.kabupaten = response.data.kabupaten;
        this.loadingKab = false
      })
      .catch(error => {
        this.loadingKab = false
      });
    },
    postKec() {
      this.loadingKec = true
      axios.post("/ektp-kec", {no_prop: this.data.src_prov.no_prop, no_kab: this.data.src_kab.no_kab })
      .then(response => {
        this.kecamatan = response.data.kecamatan;
        this.loadingKec = false
      })
      .catch(error => {
        this.loadingKec = false
      });
    },
    postKel() {
      this.loadingKel = true
      axios.post("/ektp-kel", {no_prop: this.data.src_prov.no_prop, no_kab: this.data.src_kab.no_kab, no_kec: this.data.src_kec.no_kec })
      .then(response => {
        this.kelurahan = response.data.kelurahan;
        this.loadingKel = false
      })
      .catch(error => {
        this.loadingKel = false
      });
    },
    postDestKel() {
      this.loadingDestKel = true
      axios.post("/ektp-dest-kel", {prov: this.data.prov, kab: this.data.kab, no_kec: this.data.kec.no_kec })
      .then(response => {
        this.destKelurahan = response.data.kelurahan;
        this.loadingDestKel = false
      })
      .catch(error => {
        this.loadingDestKel = false
      });
    },
    postNegara() {
      this.loadingNegara = true
      axios.post("/cek_negara", {})
      .then(response => {
        this.negara = response.data;
        this.loadingNegara = false
      })
      .catch(error => {
        this.loadingNegara = false
      });
    },
    postOccupation() {
      this.loadingOccupation = true
      axios.post("/mst_wna", {sect: '201'})
      .then(response => {
        this.occupation = response.data;
        this.loadingOccupation = false
      })
      .catch(error => {
        this.loadingOccupation = false
      });
    },

    async submit () {
        if(this.data.nama_lgkp.length < 4){
          this.loading = false
          this.dialog = false
          this.text = "Please filled out full name field"
          this.snackbar = true
          return false;
        } else if(this.data.tmpt_lhr.length < 2){
          this.loading = false
          this.dialog = false
          this.text = "Place Of birth field Cannot Be Empty"
          this.$refs.tgl_paspor.focus()
          this.snackbar = true
          return false;
        } else if(this.data.tgl_lhr.length < 2){
          this.loading = false
          this.dialog = false
          this.text = "Date Of birth field Cannot Be Empty"
          this.snackbar = true
          return false;
        } else if(this.data.jenis_klmin === null){
          this.loading = false
          this.dialog = false
          this.text = "Pick One"
          this.snackbar = true
          return false;
        } else if(this.data.negara == null){
          this.loading = false
          this.dialog = false
          this.text = "Please Choose Your Nationality"
          this.snackbar = true
          return false;   
        } else if(this.data.occupation == null){
          this.loading = false
          this.dialog = false
          this.text = "Pick One your Occupation"
          this.snackbar = true
          return false; 
        } else if(this.data.no_paspor == null){
          this.loading = false
          this.dialog = false
          this.text = "Please Filled out passport number field"
          this.snackbar = true
          return false;  
        } else if(this.data.tgl_paspor == null){
          this.loading = false
          this.dialog = false
          this.text = "Please Filled out Passport Issued Date field"
          this.snackbar = true
          return false;         
        } else if(this.data.tgl_akh_paspor == null){
          this.loading = false
          this.dialog = false
          this.text = "Please Filled out Passport Expired Date field"
          this.snackbar = true
          return false;     
        } else if(this.data.no_doc == null){
          this.loading = false
          this.dialog = false
          this.text = "Please Pick One type of Document"
          this.snackbar = true
          return false; 
        } else if(this.data.doc_imigrasi == null){
          this.loading = false
          this.dialog = false
          this.text = "Please Filled out KITAS / KITAP number field"
          this.snackbar = true
          return false;
        } else if(this.data.tgl_doc_imigrasi == null){
          this.loading = false
          this.dialog = false
          this.text = "Please Filled out KITAS / KITAP Issued Date field"
          this.snackbar = true
          return false; 
        } else if(this.data.tgl_permitted == null){
          this.loading = false
          this.dialog = false
          this.text = "Please Filled out Permitted Date field"
          this.snackbar = true
          return false;                                          
        }else if(this.imgupload1 === null){
          this.e1 = 2
          this.loading = false
          this.dialog = false
          this.text = "Pas Foto tidak boleh kosong."
          this.snackbar = true
          return false;
        }else if(this.imgupload2 === null){
          this.e1 = 2
          this.loading = false
          this.dialog = false
          this.text = "KTP-el tidak boleh kosong."
          this.snackbar = true
          return false;
        }else if(this.imgupload3 === null){
          this.e1 = 2
          this.loading = false
          this.dialog = false
          this.text = "Kartu Keluarga tidak boleh kosong."
          this.snackbar = true
          return false;
        }else if(this.imgupload4 === null){
          this.e1 = 2
          this.loading = false
          this.dialog = false
          this.text = "Surat Pengantar tidak boleh kosong."
          this.snackbar = true
          return false;
        }else{

/*          this.cekData.nik = this.data.nik;
          axios.post("/cek-nik", this.data).then(response => {
            if(response.data.status == 'error'){
              this.loading = false
              this.dialog = false
              this.text = response.data.data
              this.snackbar = true
              return false;
            } else { */
              let formData = new FormData();
              formData.append("nik", this.data.nik);
              formData.append("nama_lgkp", this.data.nama_lgkp.toUpperCase());
              formData.append("tmpt_lhr", this.data.tmpt_lhr.toUpperCase());
              formData.append("tgl_lhr", this.data.tgl_lhr);
              formData.append("jenis_klmin", this.data.jenis_klmin.no);
              formData.append("kwrngrn", this.data.negara.no);
              formData.append("pekerjaan", this.data.occupation.no);
              formData.append("no_paspor", this.data.no_paspor);
              formData.append("tgl_akh_paspor", this.data.tgl_akh_paspor);
              formData.append("tgl_paspor", this.data.tgl_paspor);

              formData.append("doc_imigrasi", this.data.no_doc.no);
              formData.append("no_doc", this.data.doc_imigrasi);
              formData.append("tgl_doc_imigrasi", this.data.tgl_doc_imigrasi);
              formData.append("tgl_stay", this.data.tgl_permitted);

              formData.append("imgupload1", this.imgupload1);
              formData.append("imgupload2", this.imgupload2);
              formData.append("imgupload3", this.imgupload3);
              formData.append("imgupload4", this.imgupload4);
              formData.append("imgupload5", this.imgupload5);
              formData.append("imgupload6", this.imgupload6);
              formData.append("imgupload7", this.imgupload7);
              formData.append("telepon", this.data.telepon);
              formData.append("email", this.data.email);
              formData.append("status", "1");
              formData.append("jenis_layanan", "3");
              this.loading = true;
              axios.post("/epunten", formData, {
                headers: { "Content-Type": "multipart/form-data" }
              }).then(response => {
                if(response.data.status == 'error'){
                this.loading = false
                this.dialog = false
                this.text = response.data.data;
                this.snackbar = true
              } else {
                this.loading = false
                this.dialog = false
                this.dialogSukses = true
              }}).catch(function() {
                this.loading = false
                this.dialog = false
                this.text = "terjadi kesalahan"
                this.snackbar = true
              });
            }
/*          }).catch(error => {
            this.text = "Terjadi Kesalahan. Mohon cek koneksi internet";
            this.loading = false
            this.snackbar = true
            return false;
      });;*/
/*        }
      }*/
    }
    },
    clear () {
      this.name = ''
      this.email = ''
      this.select = null
      this.checkbox = null
      this.$validator.reset()
    },
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    parseDate (date) {
      if (!date) return null

      const [day, month, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    }
  // },
};
</script>

<style scoped>

</style>
<style>
.upper input {
  text-transform: uppercase;
}
.upper textarea {
  text-transform: uppercase;
}
.berkas {
  width: 100%;
  height: 200px;
  display: block;
  cursor: pointer;
}
.tab {
  margin-left: 20px;
}
</style>